<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$!{user.userName}的组合跟投-爱投顾-金融界</title>
    <meta name="keywords" content="$!{user.userName}的组合跟投，爱投顾，金融界" />
    <meta name="description" content="$!{user.userName}的组合跟投，爱投顾，金融界" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,initial-scale=1.0" />
    
    <!--\#include virtual="/v2/common_head_css.html" -->
    
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/v2/styles-v2.min.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/v2/partial-profile-common.css" rel="stylesheet" />
	<link href="http://js.jrjimg.cn/zqt-red-1000/css/v2/partial-profile-css.css" rel="stylesheet" />
	<link href="http://js.jrjimg.cn/zqt-red-1000/css/v3/jrj.ui.tooltip.min.css" rel="stylesheet" />
	   
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/jquery-1.7.2.min.js"></script>
    
    
    
    
	
</head>
<body>
	<!--header begin-->
	<!--\#include virtual="/v2/site_top_compact.html" -->
	<!--header end-->
	
	<!--container begin-->
	<div class="container">
		<div class="m-wrap">
			<div class="m-1000">
				<!--头部信息 begin-->
				<!--\#include virtual="/account/adviser/$!{user.loginId}/infov1.html" -->
				<!--头部信息 end-->
				
				<!--头部主导航 begin-->
				#set($nav = 4)
				#set($adviserId=$user.loginId)
				#if($!{user.type}==2)
				  #set($tipsDesc = '投资内参')
				#else
				  #set($tipsDesc = '专栏订阅')
				#end
				#parse("tougu/homepage/nav.vm")
				<!--头部主导航 end-->
			</div>
			
			
			<div class="clear">
				<!--主体左边-->
				<div class="fl">
					<!--投资组合-->
					<div class="m-680">
						<h3 class="m-tit-row">
							<span class="tit">TA的组合跟投</span>
							<span class="s-tit"><em class="hot" id="itPfNum"></em> 款组合</span>
							<input id="pfListUrl" type="hidden" value="/portfolio/account/pf/${adviserId}.jspa"/>
							<input id="cusUserPort" type="hidden" value="1"/>
						</h3>
						
						<div class="pf-pflist pf-pflist-mine pf-pflist-mine_mm">
							<div class="portfolio-empty middle tc" style="padding:200px 0 200px 0;" id="emptyList">
				                <span class="f16 ml20">TA还没有任何组合</span>
				            </div>
			            </div>
					</div>
					
					<div class="pager pager-v2" id="pfPaged">
                        <a class="prev prev-disable">上一页</a>
                        <a class="cur">1</a>
                        <a>2</a>
                        <a>3</a>
                        <a class="dot">...</a>
                        <a>125</a>
                        <a class="next">下一页</a>
            		</div>
					
					
				</div>
				<!--主体右边-->
				<div class="m-300 fr">
					<!--\#include virtual = "/gg-homepage/gg.html" -->
				</div>
			</div>
		</div>
	</div>
	
	 
	<script src="http://js.jrjimg.cn/zqt-red-1000/js/jrj.itougu-common.v0.1.0.min.js"></script>
    <script src="http://itougu.jrj.com.cn/account/getBasicUserInfo.jspa"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/v2/highcharts.min.js"></script>
	<script src="http://js.jrjimg.cn/itougu/account/myadviser.js"></script>
	<script src="http://js.jrjimg.cn/zqt-red-1000/js/v2/floatdiv.min.js"></script>
    <script src="http://js.jrjimg.cn/itougu/account/homepage-infov1.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/v2/question.min.js"></script>
	<!--\#include virtual="/v2/common-footer-v2.html" -->
	
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/v2/jquery.pagefoot.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/v3/pcommon.js"></script>
    <script src="http://js.jrjimg.cn/itougu/account/accpflists.js"></script>
    <!--<script src="http://itougu.jrj.com.cn/portfolio/js/pflists.js"></script>-->
    
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/mustache-min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/v2/mouseenterDelay.js"></script>
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/v3/jrj.ui.tooltip.min.css" rel="stylesheet" />
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/v3/jrj.ui.tooltip.js"></script>
    
	<script type="text/javascript">
         loadPfList(1);
         
         function setPage(pager,pdata,pfun){
	    	if(pdata.totalCount > 0) {
              pager.pagefoot({
                pagesize: pdata.pageSize,
                count: pdata.totalCount,
                css: '',
                current: pdata.currentPageNo,
                previous: '上一页',
                next: '下一页',
                displaynum:10,
                enableArrowKey: true,
                paging: function (page) {
                  var current = page.current;
                  //loadData(current);
                  pfun(current);
                }
              });
            }
	    
        }
    </script>
</body>
</html>
