<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>$!{adviser.userName}的鉴股-爱投顾-金融界</title>
    <meta name="keywords" content="$!{adviser.userName}的鉴股，爱投顾，金融界" />
    <meta name="description" content="$!{adviser.userName}的鉴股，爱投顾，金融界" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,initial-scale=1.0" />
   
   	<!--\#include virtual="/v2/common_head_css.html" -->
   	<link href="http://js.jrjimg.cn/zqt-red-1000/css/v2/partial-profile-common.css" rel="stylesheet" />
	<link href="http://js.jrjimg.cn/zqt-red-1000/css/v2/partial-profile-css.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/v2/share-stylish.css" rel="stylesheet" />
</head>

<body>
	<!--header begin-->
	<!--\#include virtual="/v2/site_top_compact.html" -->
	<!--header end-->
	
	<!--container begin-->
	<div class="container">
		<div class="m-wrap">
			<div class="m-1000">
				<!--头部信息 begin-->
				<!--# include virtual="/account/adviser/$!{adviserId}/infov1.html" -->
				<!--头部信息 end-->
				
				<!--头部主导航 begin-->
				#set($nav = 6)
				#if($!{adviser.type}==2)
				  #set($tipsDesc = '投资内参')
				#else
				  #set($tipsDesc = '专栏订阅')
				#end
				#parse("tougu/homepage/nav.vm")
				<!--头部主导航 end-->
			</div>
			
			<div class="clear">
				<!--主体左边-->
				<div class="fl">
					<div class="m-680">
						<h3 class="m-tit-row">
							<span class="tit">TA的鉴股</span>
							<span class="s-tit"><span id="rstockNum" class="highlight">$!{viewCount}</span> 篇</span>
						</h3>
						<div class="vp-list"></div>
						<div class="pager pager-v2" id="pager_data" ></div>
						<div class="empty-cont" id="rstockEmptyList">投顾正在酝酿精品内容</div>
					</div>
				</div>
				
				<!--主体右边-->
				<div class="m-300 fr">
					<!--\#include virtual = "/gg-homepage/gg.html" -->
				</div>
			</div>
		</div>
	</div>
	<!--container end-->
	
	<!--footer begin-->
	<!--\#include virtual="/v2/common_head_js.html" -->
  
    
    <script src="http://js.jrjimg.cn/lib/ui/jquery.pagefoot-min.js"></script>
    <script src="http://js.jrjimg.cn/itougu/account/myadviser.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/v2/floatdiv.min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/v2/bdshare-stylish.min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/v2/question.min.js"></script>
    <script src="http://js.jrjimg.cn/itougu/account/homepage-infov1.js"></script>
    <script src="http://js.jrjimg.cn/itougu/account/homepage-rstock.js"></script>
    <script type="text/javascript">
    	$(function(){
	    	F.callback = function(){
				window.location.reload();
			}

    		JRJ.util.JRJShareWidget.init({
                tmpl_style_popup: ['<span class="share bdshare-stylish-trigger">分享</span>',
                            '<div class="bdsharebuttonbox-wrap">',
                                '{bdshare}',
                                '<div class="bdshare-stylish-qrcode" style="display:none;"></div>',
                            '</div>'].join('')
            });

        loadRStockList('$!{adviser.userId}', 1);
    	}); 
            
        
    </script>
	<!--\#include virtual="/v2/common-footer-v2.html" -->
	<!--footer end-->
</body>
</html>
