/*全局样式开始*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
*:focus, *:active {
	outline: none;
	-moz-outline: none;
	outline-style: none;
	-moz-outline-style: none;
	-webkit-outline: none;
	-webkit-outline-style: none;
}
body {
	height: 100%;
	width: 100%;
	font-size: 12px;
	line-height: 1;
	font-family: "Microsoft YaHei", \u5FAE\u8F6F\u96C5\u9ED1, "MicrosoftJhengHei", \u534E\u6587\u7EC6\u9ED1, STHeiti, MingLiu;
	background: #eaeaea;
	color: #333333;
}
img {
	border: 0;
	max-width: 100%;
}
.clear {
	clear: both;
	height: 0;
	display: block;
}
a {
	outline: none;
	text-decoration: none;
	color: #333333;
	cursor:pointer;
}
.h10 {
	height: 10px;
}


/*表单样式开始*/
#form, #reg {
	width: 94%;
	margin: 15px auto 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#form label {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #666666;
	font-size: 16px;
}
#form input, #form select, #form textarea {
	display: block;
	padding: 0 10px;
	line-height: 40px;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px #bdb8b8 solid;
}
.input {
	height: 40px;
	width: 100%;
}
.input1 {
	height: 160px;
	width: 100%;
}
.code {
	width: 60%;
	float: left;
	height: 40px;
}
.city {
	width: 49%;
	height: 40px;
}
.btnCode {
	width: 38%;
	float: right;
	display: block;
	height: 40px;
	font-size: 16px;
	border: none;
	background-color: #ff8a00;
	display: block;
	color: #fff;
	text-align: center;
}
.submit {
	width: 100%;
	margin: 20px auto 0;
	border: none;
	border-radius: 6px;
	background-color: #ff8a00;
	display: block;
	color: #fff;
	text-align: center;
	font-size: 24px;
	letter-spacing: 4px;
	height: 50px;
	line-height: 50px;
}
.already {
	display: block;
	height: 40px;
	line-height: 40px;
	color: #8f8f8f;
	font-size: 16px;
	width:94%;
	margin:0 auto;
}
.already label {
	color: #3191dd;
}
.already label.wm {
	color: #8f8f8f;
}
/*表单样式结束*/


