@charset "utf-8";
/* CSS Document */
body, div, p, h1, h2, h3, h4, h5, h6, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, table, th, td { margin: 0; padding: 0; }
body, button, input, select, textarea { font:12px/24px "Microsoft YaHei","微软雅黑",simsun,"宋体",tahoma,arial; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, em, i { font-style: normal; }
li { list-style: none; }
a { text-decoration: none; }
a:link { text-decoration: none; }
a:active{  background:none !important;  }
legend { color: #000; }
fieldset, img { border: 0; }
button, input, select, textarea { font-size: 100%; line-height: normal; }
table { border-collapse: collapse; border-spacing: 0; }
input[type="button"], input[type="submit"], input[type="reset"] { cursor: pointer; }
.clearfix:after, .wrapper:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
body { margin: 0; padding: 0;  background: #efeff4;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.fl{float: left;}.fr{float: right;}
.disnone{  display: none;}
.fall {color: #2DC678 !important;}
.up {color: #F24637 !important;}
.outer{width: 100%;overflow: hidden;}
/*战队信息*/
.team_list{height: 4.7733rem;background-color: #fff;margin-top: 0.2667rem;padding-left: 0.4rem;padding-right: 0.4rem;}
.team_header{width: 100%;height: 0.88rem;padding-top: 0.48rem;}
.team_header>i{display: block;width: 0.4267rem;height:0.4267rem;background: url('../img/team_tui.png');background-size: 0.4267rem 0.4267rem;float: left;margin-left: 0.2667rem;margin-top: 0.0667rem;}
.teamNumberOne{display: block;width: 0.5067rem;height: 0.56rem;background: url('../img/teamNumberOne.png');background-size: 0.5067rem 0.56rem;float: left; }
.teamNumberTwo{display: block;width: 0.5067rem;height: 0.56rem;background: url('../img/teamNumberTwo.png');background-size: 0.5067rem 0.56rem;float: left; }
.teamNumberThree{display: block;width: 0.5067rem;height: 0.56rem;background: url('../img/teamNumberThree.png');background-size: 0.5067rem 0.56rem;float: left; }
.team_header>p{font-size: 0.4533rem;line-height: 0.4667rem; color: #333333;font-weight: 600;float: left;}
.team_header>img{width: 1.3333rem;height: 0.4267rem;margin-left: 0.1067rem;margin-top: 0.0667rem;display: block;float: left;}
.team_list ul{width: 100%;height: 1.9467rem;background: #f7f7f7;}
.team_list ul li{width: 33.33%;float: left;text-indent: 0.5333rem;padding-top: 0.4267rem;height: 1.0133rem;position: relative;}
.team_list ul li p{font-size: 0.32rem;line-height: 0.3333rem;color: #888888;margin-top: 0.2667rem;position: absolute;bottom: 0;}
.team_list ul li:first-child span{font-size: 0.5867rem;color: #ff4040;}
.team_list ul li:first-child +li span,.team_list ul li:first-child +li +li span{font-size: 0.4267rem;color: #333333;margin-top: 0.1067rem;display: block;}
.team_leader{width: 100%;height: 1.0667rem;padding-top: 0.4rem;}
.team_leader>div{width: 0.64rem;height: 0.64rem;border-radius: 50%;background-color: red;float: left;overflow: hidden;}
.team_leader>div img{width: 0.64rem;height: 0.64rem;}
.team_leader>p{font-size: 0.3733rem;line-height: 0.64rem;color: #333333;margin-left: 0.2133rem; float: left;}
.team_leader>.join_this_team{display: block;height: 0.7467rem;width: 2.6667rem;background: url("https://i0.jrjimg.cn/zqt-red-1000/focus/focus2017YMZ/teamFrighting/img/joinTeam.png") no-repeat;background-size: 100% 100%; float: right;font-size: 0.32rem;color: #fff;line-height: 0.7467rem;text-align: center;}
.team_leader>.join_me_team{display: block;height: 0.7467rem;width: 2.6667rem;background: url("https://i0.jrjimg.cn/zqt-red-1000/focus/focus2017YMZ/teamFrighting/img/join_me_team.png") no-repeat;background-size: 100% 100%; float: right;font-size: 0.32rem;color: #fff;line-height: 0.7467rem;text-align: center;}




.a{width: 3.4667rem height: 0.8533rem;font-size: 0.3467rem;line-height: 0.36rem;margin-top: 0.4533rem;text-align: center;margin-top:0.4rem;}





