@charset "utf-8";
/* CSS Document */
body, div, p, h1, h2, h3, h4, h5, h6, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, table, th, td { margin: 0; padding: 0; }
body, button, input, select, textarea { font:12px/24px "Microsoft YaHei","微软雅黑",simsun,"宋体",tahoma,arial; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, em, i { font-style: normal; }
li { list-style: none; }
a { text-decoration: none; }
a:link { text-decoration: none; }
a:active{  background:none !important;  }
legend { color: #000; }
fieldset, img { border: 0; }
button, input, select, textarea { font-size: 100%; line-height: normal; }
table { border-collapse: collapse; border-spacing: 0; }
input[type="button"], input[type="submit"], input[type="reset"] { cursor: pointer; }
.clearfix:after, .wrapper:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
body { margin: 0; padding: 0;  background: #efeff4;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.fl{float: left;}.fr{float: right;}
.disnone{  display: none;}
.fall {color: #2DC678 !important;}
.up {color: #F24637 !important;}
/*战队信息*/
.outer{width: 100%;}
.team_detail_top3:after{ content:" ";display:block;visibility:hidden;height:1.3467rem; }
.team_outer_info{padding-left: 0.4rem;padding-right: 0.4rem;background: #fff;}
.team_detail{width: 100%; height: 3.2933rem;overflow: hidden;border-bottom: 1px solid #e6e6e6;}
.team_detail>p{font-size: 0.3733rem;text-align: center; color: #888888;line-height: 0.3867rem;margin-top: 0.5867rem;}
.team_detail>div{font-size: 0.9067rem;text-align: center;color: #333333;line-height: 0.92rem;margin-top: 0.2133rem; }
.team_detail>span{font-size: 0.3733rem;text-align: center;color: #333333;line-height: 0.3867rem;margin-top: 0.3733rem;display: block;}
.team_detail>span>i{margin-left: 0.2133rem;}
/*战队排名*/
.team_num{width: 100%;height: 1.8933rem;background-color: #fff}
.team_num li{float: left;text-align: center;position: relative;}
.team_num li p{font-size: 0.3733rem;text-align: center;color: #888888;line-height: 0.3867rem;margin-top: 0.4rem;}
.team_num li span{font-size: 0.4267rem;text-align: center;color: #333333;line-height: 0.44rem;margin-top: 0.2667rem;display: block;}
.team_num li:first-child{width: 32%;}
.team_num li:first-child +li{width: 36%;}
.team_num li:first-child +li +li{width: 32%;}
.team_num li div{width: 1px;height: 0.64rem;background: #e6e6e6;position: absolute;right: 0;top: 0;margin-top: 0.5733rem;}
/*团队目标*/
.team_target{width: 100%;height: 1.3333rem;}
.team_target .progress{width: 100%;height: 0.1067rem;background: #ff4040;}
.team_target .caopanjin{width: 50%; height: 1.0667rem; float: left;font-size: 0.32rem;line-height: 0.3333rem;margin-top:0.2rem;color: #2e7cd7;position: relative;}
.team_target .caopanjin i{width: 0.3733rem;height: 0.3733rem;display: inline-block; background: url('../img/caopanjin.png') no-repeat center;background-size: 0.3733rem 0.3733rem;position: absolute;left:0;top: 0; }
.team_target .caopanjin span{position: absolute;left: 0.4933rem;top: 0.0267rem;}
.team_target p{float: right;margin-top: 0.24rem;font-size: 0.32rem;line-height: 0.3333rem;color: #888888;}
.team_target p span{color: #333333;}
/*投顾信息*/
.team_leader_info{padding-left: 0.4rem;padding-right: 0.4rem;background: #fff;margin-top: 0.2667rem;overflow: hidden;}
.team_leader{width: 100%;height:1.0667rem;margin-top: 0.5333rem;padding-bottom: 0.5333rem;border-bottom: 1px solid #e6e6e6;}
.firend_photo{width: 1.0667rem;height: 1.0667rem;overflow: hidden;border-radius: 50%;background: red;float: left;}
.firend_photo img{width: 1.0667rem;height: 1.0667rem;display: block;}
.firend_info{color: #fff;margin-left: 0.373rem;float: left;}
.firend_info>p{font-size: 0.4267rem;line-height:0.44rem;margin-top: 0.08rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333333;}
.firend_info>span{display: block;font-size: 0.32rem;line-height: 0.3333rem;margin-top: 0.2rem;color: #888888;}
.more{font-size: 24px;line-height: 1.0667rem;float: right;color: #888888;}
.team_neican{padding-bottom: 0.56rem;}
.team_neican ul{float: left;}
.team_neican ul li:first-child{font-size: 0.4267rem;line-height: 0.44rem;color: #333333;margin-top: 0.5067rem;}
.team_neican ul li:first-child +li{font-size: 0.3733rem;line-height: 0.3867rem;color: #ff4040;margin-top: 0.2667rem;}
.team_neican .book{float: right;width: 2.4267rem;height: 0.8rem;border-radius: 0.4rem;border: 2px solid #e6e6e6;color: #333333;line-height: 0.8rem;text-align: center;margin-top: 0.6133rem;}
/*top3排行榜*/
.li_cur{color:#ff4040; }
.li_cur>span{display: block;width: 0.6667rem;height: 0.0533rem;background: #ff4040;position: absolute;bottom: 0;left: 50%;margin-left: -0.3333rem;}
.team_detail_top3>img{width: 3.6267rem;height: 0.4267rem;display: block;margin: 0 auto;padding-top: 0.4667rem;padding-bottom: 0.4267rem;}
.listType{width: 100%;border-bottom: 1px solid #dfdfdf;background: #fff;}
.listType div {width: 50%;text-align: center;padding-top: 0.347rem;font-size:  0.373rem;line-height: 100%;padding-bottom:  0.347rem;position: relative;}
.listType div span{display: inline-block;width: 0.6667rem;height: 0.0533rem;background: #ff4040;position: absolute;margin-left: 0.2133rem;bottom: 0;}
.user_ranking{width: 0.507rem;height: 0.587rem;border-radius: 0.107rem;font-size: 0.373rem;color: #888888;background: #f0f0f0;line-height: 0.587rem;text-align: center;margin-top: 0.18rem;margin-right:0.267rem;overflow: hidden;}
.user_list{background: #fff;border-bottom: 1px solid #e6e6e6;}
.user_list> li:first-child{border-top: none;}
.user_list> li{padding: 0.4rem 0;margin-left: 0.4rem;margin-right: 0.4rem;border-top: 1px solid #e6e6e6;}
.user_list li:first-child>.user_ranking{background: url('http://i0.jrjimg.cn/zqt-red-1000/focus/focus20170214caogu/h5/img/redno1.png') 0 0 no-repeat;background-size: 100% auto;text-indent: -999px;width: 0.56rem;height: 0.667rem;}
.user_list li:first-child +li>.user_ranking{background: url('http://i0.jrjimg.cn/zqt-red-1000/focus/focus20170214caogu/h5/img/redno2.png') 0 0 no-repeat;background-size: 100% auto;text-indent: -999px;width: 0.56rem;height: 0.667rem;}
.user_list li:first-child +li +li>.user_ranking{background: url('http://i0.jrjimg.cn/zqt-red-1000/focus/focus20170214caogu/h5/img/redno3.png') 0 0 no-repeat;background-size: 100% auto;text-indent: -999px;width: 0.56rem;height:0.667rem;}
.user_photo{width: 0.9333rem;height: 0.9333rem;border-radius: 50%;overflow: hidden;}
.user_info{margin-left:0.266rem;width: 6.8rem;}
.user_photo img{width: 100%;height:100%;}
.user_info>div>b{display: block;color: #333333;font-size: 0.427rem;line-height: 0.9333rem;font-weight: 500;}
.user_info>.fl{text-align: left;}
.user_info>.fr{text-align: right;}
.user_info>div>span{display: block;font-size: 0.427rem;line-height: 0.9333rem;font-weight: 600;}
.user_list .to_see_more{width: 100% height: 1.1467rem;line-height: 1.1467rem;text-align: center;border-top: 1px solid #dfdfdf;}
/*加入我们*/
.join_team{width: 100%;height: 1.3333rem;position: fixed;bottom: 0;border-top: 1px solid #e6e6e6;z-index: 8}
.join_team .join_left{width: 27.7%;float: left;text-align: center;background: #fff;height: 1.3333rem;}
.join_team .join_left i{width: 0.3733rem;height: 0.3733rem;display: block; background: url('../img/join_left.png');background-size: 0.3733rem  0.3733rem;float: left;margin-top: 0.48rem;margin-left: 0.4rem;}
.join_team .join_left span{font-size: 0.3733rem;line-height: 0.3867rem;color: #888888;display: block;float: left;margin-top: 0.4667rem;margin-left: 0.2133rem;}
.join_team .join_right{width: 72.3%;height: 1.3333rem;float: right;text-align: center;font-size: 0.4533rem;line-height: 1.3333rem; background: url('../img/join_team.png') no-repeat;background-size: 100% 100%; color: #ffffff;}
/*操盘金弹窗*/
.mask{width: 100%;height: 100%;background: #333333;opacity: 0.6;position: fixed;top: 0;z-index: 9;}
.alert_caopanjin{width: 7.7333rem;height: 8.7733rem;position: fixed;top: 1.3333rem;left: 50%; background: #fff;border-radius: 0.1333rem;z-index: 10;margin-left: -4.2667rem;padding: 0.4rem;}
.alert_caopanjin p,.alert_tuanduifuli p{font-size: 0.4533rem;line-height: 0.4667rem;text-align: center;margin-top: 0.24rem;}
.alert_caopanjin span{font-size: 0.3733rem;line-height: 0.3867rem;margin-top: 0.4rem;display: block;}
.alert_caopanjin table{width: 100%;text-align: center;height: 5.5333rem;margin-top: 0.24rem;font-size: 0.32rem;}
.alert_caopanjin tr td:first-child{width: 2.3067rem;border-right: 1px solid #e6e6e6;}
.alert_caopanjin tr td:first-child +td{width: 2.5867rem;border-right: 1px solid #e6e6e6;color: #ff4040;}
.alert_caopanjin tr td:first-child +td +td{color: #ff4040;}
.alert_caopanjin tr:first-child td:first-child +td {color: #888888;}
.alert_caopanjin tr:first-child td:first-child +td +td{color: #888888;}
.alert_caopanjin tr:first-child{height: 1.3333rem;background: #fef3f3;border-bottom: none;font-size: 0.3467rem;line-height: 0.5rem;color: #888888;border-top: 1px solid #e6e6e6;}
.alert_caopanjin table tr{border-left: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;}
.alert_caopanjin div{height: 0.9867rem;width: 3.2267rem;border: 1px solid #e6e6e6;line-height: 0.9867rem;text-align: center;border-radius: 0.2rem;font-size: 0.3733rem;margin: 0 auto;margin-top: 0.5333rem;color: #333333;}
/*团队福利弹窗*/
.alert_tuanduifuli{width: 7.7333rem;position: fixed;top: 1.3333rem;left: 50%; background: #fff;border-radius: 0.1333rem;z-index: 10;margin-left: -4.2667rem;padding: 0.4rem;}
.alert_tuanduifuli table{width: 100%;text-align: center;height: 5.5333rem;margin-top: 0.24rem;font-size: 0.32rem;}
.alert_tuanduifuli table td{line-height: 0.9867rem;}
.alert_tuanduifuli tr td:first-child{width: 2.3067rem;border-right: 1px solid #e6e6e6;}
.alert_tuanduifuli tr td:first-child +td{width: 2.5867rem;border-right: 1px solid #e6e6e6;color: #ff4040;}
.alert_tuanduifuli tr td:first-child +td +td{color: #ff4040;}
.alert_tuanduifuli tr:first-child td:first-child +td {color: #888888;}
.alert_tuanduifuli tr:first-child td:first-child +td +td{color: #888888;}
.alert_tuanduifuli tr:first-child{height: 1.3333rem;background: #fef3f3;border-bottom: none;font-size: 0.3467rem;line-height: 0.5rem;color: #888888 ;border-top: 1px solid #e6e6e6;}
.alert_tuanduifuli table tr{border-left: 1px solid #e6e6e6;border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;}
.alert_tuanduifuli div{height: 0.9867rem;width: 3.2267rem;border: 1px solid #e6e6e6;line-height: 0.9867rem;text-align: center;border-radius: 0.2rem;font-size: 0.3733rem;margin: 0 auto;margin-top: 0.5333rem;color: #333333;}
/*确定加入战队弹窗*/
.sure_join{width: 7.7333rem;position: fixed;top: 1.5467rem;left: 50%; background: #fff;border-radius: 0.1333rem;z-index: 10;margin-left: -4.2667rem;padding: 0.4rem;}
.sure_join p{font-size: 0.4533rem;text-align: center;line-height: 0.4667rem;}
.sure_join span{font-size: 0.3733rem;text-align: center;line-height: 0.3867rem;display: block; margin-top: 0.2933rem;color: #ff4040;}
.sure_join ul{margin-top: 0.5333rem;}
.sure_join li:first-child{float: left;height:0.8rem;border: 2px solid #f3f3f3;border-radius: 0.4rem;width: 2.6133rem;line-height: 0.8rem;text-align: center;margin-left: 0.9867rem;color: #888888;}
.sure_join li:first-child +li{float: right;height: 0.8533rem;border-radius: 0.4267rem;width: 2.6667rem;background: url('../img/leave.png') no-repeat;background-size: 2.6667rem 0.8533rem;line-height: 0.8533rem;text-align: center;margin-right: 0.9867rem;color: #ffffff;}
