    
/*header*/
header{ height: 6rem; border-bottom:  #EFEFF4 .5rem solid;}
header .hd_l{width: 50%; text-align: center; margin-top: 1.3rem;}
header .hd_l p{font-size: .6rem; color:#888 ;}
header .hd_l li{ width: 50%;}
header .hd_l .num{ display: block; font-size: 1.2rem; font-weight: normal; line-height: 1.675rem;}
header .hd_l .type{ font-size: 0.75rem ;}
header .hd_r{ width: 6.6rem;margin-top: 1.1rem; margin-right: .6rem;}
header .hd_r li{ line-height: }
header .hd_r li span{ font-size: .6rem; color: #888;}
header .hd_r li i{ font-size: .7rem; }
header .hd_r .btn{border: 1px solid #FF5F57;border-radius: 8px; text-align: center; display: block; margin:.4rem auto 0; color: #F24637; font-size: .7rem; padding:.18rem 0 .2rem;}
header .hd_r{}
/*con*/
.con .tab_btn {border-radius: 4px 0 0 4px; width: 17.6rem; margin:.5rem auto 0; border-left: 1px solid #ccc;}
.con .tab_btn span{float:left; width:33.33%;line-height: 1.5rem; text-align: center; border: 1px solid #ccc; border-left:none; font-size: .65rem; 
    box-sizing:border-box;}
.con .tab_btn span:nth-child(1){border-radius: 4px 0 0 4px;}
.con .tab_btn span:nth-child(3){border-radius: 0 4px 4px 0;}
.con .tab_btn .cur{ background: #333; color: #fff;}
/*todaylist今日申购*/
.con .todaylist{padding-bottom: 2.4rem;}
.con .todaylist li{ position: relative; border-bottom: 1px solid #dbdbdb; padding-bottom: 1rem;}
.con .todaylist .close .icon_l,.con .todaylist .close .msg{ opacity: .4;}
.con .todaylist .icon_l{ width: 1.2rem; height: 1.2rem; border:1px solid #d2d2d2; border-radius: 50%; position: absolute; top:50%; margin-top:-.6rem; left: .75rem; }
 .con .todaylist  .choose{ background: url(../img/choose.png) no-repeat center center; background-size:.7rem auto}
.con .icon_r{ width: .275rem; height: .55rem; position: absolute; top:50%; margin-top:-.3rem; right: .75rem; background: url(../img/arrow.png); background-size: 100% 100%; }
.con .status{ position: absolute; right: 1rem;top: 0; width: 3.1rem; height: 1.75rem; background: url(../img/yes.png) no-repeat; background-size: 100% 100%;}
.con .no{ background-image: url(../img/no.png);}
.con .done{ background-image: url(../img/done.png);}
.con .todaylist .msg{ margin-left: 2.95rem; margin-top: 1rem;width: 15rem;}
.con .msg h3{ font-size: .8rem; line-height: 1rem; margin-bottom: .25rem; }
.con .msg h3 span{ color: #333;}
.con .msg .paysta{ float: left;padding: 0 .3rem; font-weight: normal;font-size: .6rem; margin-left: .75rem; line-height: .95rem;border:1px solid #333; border-radius: 2px;}
.con .msg .paystaok{ color: #F24637; border-color: #F24637;}
.con .msg .type{ width: 1.2rem; line-height:0.95rem;border: 1px solid #3996F2;
border-radius: 0.475rem; float: left; font-size: .55rem; text-align: center; color: #3996F2; margin-right: .25rem;}
.con .msg .orange{ border-color: #FF7100; color: #FF7100;}
.con .todaylist p{margin-bottom: .25rem;}
.con .todaylist span{ font-size: .7rem; color: #888; float:left; margin-right: .2rem;}
.con .todaylist em{ font-size: .7rem; float:left; margin-right: .85rem;}
.con .msg .num{line-height: 1.75rem;}
.con .msg .numbox{ margin-right: .25rem;}
.btn_reduce,.btn_add{ width: 1.75rem; height: 1.75rem; background: url(../img/reduce.png);float:left; background-size: 100% 100%;}
.btn_add{ background-image: url(../img/add.png);}
.con .msg .numbox .numin{ width: 3.825rem; border-top: 1px solid #d2d2d2;  float: left; border-bottom: 1px solid #d2d2d2; padding-left: 0.675rem;font-size:.7rem; font-weight: normal;box-sizing:border-box; line-height: 1.75rem; color: #333; }
/*waitlist待申购*/
.waitlist{ display: none; margin-top: .75rem;}
.con .date{ line-height: 1.2rem;background: #FAFAFA; padding-left: .75rem; font-size: .6rem; border-bottom: 1px solid #DBDBDB; }
.waitlist li,.mybuy li{ position: relative; margin-top: .9rem;}
.waitlist .msg,.mybuy .msg { margin-left: .75rem; border-bottom: 1px solid #DBDBDB; font-size: .7rem; line-height: 1.1rem; padding-bottom: 1rem;}
.waitlist li:last-child .msg,.mybuy li:last-child .msg{border-bottom: none;}
.waitlist p em,.mybuy p em{width: 5.5rem; margin-left: .5rem;float: left;}
.waitlist .msg span,.mybuy .msg span{ float: left; color: #888;}
.waitlist .msg .type2,.mybuy .msg .type2{width: 3rem; text-align: right; background: yellow;}
/*mybuy申购记录*/
.mybuy{ display: none;}
.mybuy .seldate{ font-size: .7rem; text-align: center; line-height: 1.75rem;margin: .85rem 0 .875rem .6rem;}
.mybuy .seldate input{ padding-left:.3rem; font-size: .6rem;    height: 1.75rem; float: left; color: #3996F2; width: 5.65rem;border: 1px solid #D2D2D2;}
.mybuy .seldate span{float: left; color: #fff; width: 4.225rem;background: #F24637;border-radius: 4px; margin-left: .75rem;}
.mybuy .seldate i{ float: left; color: #B2B2B2; margin: 0 3px;}
.con .newrule { text-align: right; padding-right: .75rem; padding-top: .25rem; }
.con .newrule a{ color: #3996F2; text-decoration: underline; font-size: .6rem;}
.con .gobtn{ width: 100%; background: #F24637;  color: #fff; line-height: 2.4rem; font-size: .85rem; position: fixed; bottom: 0; left: 0;}
.con .gobtn_on{ background: #dbdbdb;}

