<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>投顾服务协议</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <style>
    * {
        -webkit-tap-highlight-color: transparent;
    }
body,div,p,h1,h2,h3,h4,h5,h6,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,th,td {margin: 0;padding: 0;}address,cite,em,i {font-style: normal;}body {-webkit-appearance: none;}li {list-style: none;}a {color: #feeb12;text-decoration: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);outline: none;}a:hover {text-decoration: none;color: #fff;}a:active {background-color: transparent;}img {vertical-align: top;border: 0;}input[type="button"],input[type="submit"],input[type="reset"] {cursor: pointer;}input {outline: none;}html,body {font: 16px/28px "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "微软雅黑", simsun, "宋体", tahoma, arial;color: #fff;}.clearfix:after {display: block;content: '';clear: both;}.fl {float: left;}.fr {float: right;}
body{background: #f8f8f8;color: #333;}
.wrapper {width: 1000px;margin: 0 auto;position: relative;padding:50px 0;}  
.agreement-wrap {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    padding: 30px 30px 20px 30px;
    margin-top: 20px;
}
h1{    font-size: 30px;
    line-height: 50px;
    margin-top: 20px;}
    .bian{ display: none;}
    </style>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/jquery-1.7.2.min.js"></script>
</head>

<body>
        <div class="site-main">
        <div class="wrapper">
            <div class="agreement-wrap">
                <p>在享受爱投顾平台及投资顾问服务前，请您知悉并同意以下内容：</p>
                <p>当您购买投顾产品时，需要遵循《爱投顾平台产品购买规则》和《用户与机构服务协议》。</p>
                <h1 align="center">爱投顾平台产品购买规则</h1>
                <p>在您购买前，请详细阅读以下内容，点击同意意味着您知悉并同意以下内容，受以下内容的约束：</p>
                <p>1、爱投顾平台投顾发布的内容为平台合作机构投资顾问所发布，仅供用户参考之用，平台及机构与机构投顾不保证据此操作一定能获得收益或避免损失，用户必须独立作出投资决策，风险自担。</p>
                <p>2、爱投顾平台上投顾所发布的内容及提供服务的行为由投顾负责，爱投顾平台不对内容的准确性、真实性、有效性、原创性负责，爱投顾平台不对上述内容及投顾的行为承担任何保证义务。</p>
                <p>3、爱投顾平台投顾所发布内容的知识产权归投顾所有，平台对用户在平台上获取该内容的行为有监督的权利，用户未经爱投顾平台及投顾书面许可，不得以任何手段及方式对外传播或许可任何第三人使用服务的全部内容或部分内容，不得通过非官方技术手段获取内容，否则爱投顾平台有权关闭用户的爱投顾账户，已经交付的服务费用将作为罚金不再退还，平台保留最终诉诸法律、追偿损失的权利。</p>
                <p>4、因无法预测或无法控制的设备故障、通讯故障、网络故障等技术原因以及其它政策法律等不可抗力而造成平台无法正常提供服务的情况，平台不承担责任。</p>
                <p>5、平台有权在必要时单方修改或变更本规则内容，并将通过平台网站予以公布，用户于任何修改或变更后继续使用平台服务，则视为充分了解并同意接受修改后之协议，若用户不同意部分或全部修改条款，则应主动停止使用与变更内容相关的服务。</p>
                <h1 align="center">投顾服务协议</h1>
                <p><strong>协议编号：<span class="orderid"></span></strong></p>
                <p>本协议由以下各方进行签署：</p>
                <p><strong>甲方：<span class="jia"></span></strong></p>
                <p><strong>乙方：<span class="yi"></span></strong></p>
                <p>鉴于：</p>
                <p>1．甲方系金融界爱投顾平台用户，有获取投资咨询服务的需求。</p>
                <p>2. 乙方系中国证监会认证的证券投资咨询专业机构，在证券投资咨询方面具有专业优势。甲、乙双方本着诚实信用的原则，就乙方通过爱投顾平台，有偿向甲方提供投资咨询服务达成如下协议：</p>
                <p><strong>第一条 服务内容</strong></p>
                <p>乙方将其投顾服务产品在爱投顾平台上发布，甲方在爱投顾平台上点击购买乙方所发布的投顾服务产品并进行支付，即完成产品的购买。</p>
                <p>乙方投顾人员依据其在爱投顾平台上发布的产品的具体内容，向甲方提供相应的投顾服务，包括但不限于在爱投顾平台上向用户提供证券市场信息、财经观点、公司信息、解答问题等和投资咨询相关的服务。</p>
                <p><strong>第二条 服务费用</strong></p>
                <p>乙方向甲方提供的咨询服务的服务费价格为<span class="price"></span>元，具体标准可参见乙方在爱投顾平台所发布的产品的价格标准。</p>
                <p>甲方有权依据爱投顾平台规则享有乙方应予提供的增值或优惠服务。</p>
                <p><strong>第三条 支付约定</strong></p>
                <p>甲方选择购买产品后，通过选择爱投顾平台上展示的支付方式，进行服务费用的支付。</p>
                <p><strong>第四条 服务期约定</strong></p>
                <p>乙方向甲方提供服务的期限为自甲方支付服务费用之日起<span class="time"></span>天。</p>
                <p><strong>第五条 甲方权利义务</strong></p>
                <p>1．甲方已充分地认识到了证券投资的风险，在使用之前，甲方已通过爱投顾平台进行风险测评，风险测评中所填写的信息真实准确。甲方将对所有乙方提供的证券投资意见及建议进行判断和核实，并独立承担据此投资的一切风险。</p>
                <p>2．甲方保证不将甲方的资金或帐户密码交给乙方供乙方直接进行证券交易，甲方保证不与乙方就甲方证券投资的损益的分担有任何约定。</p>
                <p>3．甲方保证不与乙方雇员进行私下交易。甲方保证不将甲方的资金或帐户密码交给乙方的雇员或委托给乙方雇员供乙方雇员直接进行证券交易，甲方保证不与乙方雇员就甲方证券投资的损益的分担有任何私下约定。</p>
                <p>4. 甲方有权享有乙方投顾人员所提供的投顾服务，获取乙方所提供的资讯信息。</p>
                <p>5. 未经乙方同意，不得将甲方提供的投资顾问服务内容透露予第三方。</p>
                <p><strong>第六条 乙方权利义务</strong></p>
                <p>1．乙方仅向甲方提供证券投资分析意见及投资建议，上述建议仅供甲方参考之用，乙方不保证据此操作一定能获得收益或避免损失。</p>
                <p>2．乙方保证不接受甲方的资金或帐户密码直接进行证券交易，乙方保证不与甲方就甲方证券投资的损益的分担有任何约定，甲方应根据自己的判断作出投资决策并自行承担投资风险，对于甲方的盈亏乙方不承担任何责任。</p>
                <p>3. 乙方应安排具备投资顾问资格的雇员向甲方提供投顾服务，保证所提供的服务有合理依据，保证服务的质量。</p>
                <p>4. 乙方应对所安排的投资顾问的行为承担责任，确保投资顾问的行为不违背法律法规及监管的规定。乙方及乙方投顾人员提供服务时，需遵守以下规则：</p>
                <p>a.不以任何方式向甲方承诺或者保证投资收益；</p>
                <p>b.不代甲方作出投资决策；</p>
                <p>c.不以个人名义或私人账户向甲方收取证券投资顾问服务费用；</p>
                <p>d.不对服务能力和过往业绩进行虚假、不实、误导性的营销宣传；</p>
                <p>e.忠实甲方利益，不得为公司及其关联方的利益损害甲方利益；不得为证券投资顾问人员及其利益相关者的利益损害客户利益；不得为特定客户利益损害甲方利益；</p>
                <p>f.不向他人泄露甲方的投资信息及甲方个人信息；</p>
                <p>e.其他法律法规所规定的行为。</p>
                <p><strong>第七条 保密</strong></p>
                <p>1．乙方就因本协议所知悉的甲方的个人财产状况及其他个人资料负有保密义务，未经甲方事先书面许可不得向其他第三人提供，但因政府要求及司法需要等原因除外。 </p>
                <p>2．未经乙方事先书面许可，甲方不得将本协议和甲方因本协议而知悉的乙方的商业秘密及乙方向甲方提供的证券投资分析意见及投资建议的全部或部分向第三人提供或许可第三人使用。</p>
                <p>3. 本保密约定不因本协议的终止而终止。</p>
                <p><strong>第八条 生效</strong></p>
                <p>甲方在爱投顾平台上点击同意本协议并完成所购买产品的支付即视为同意本协议的内容，甲乙双方即受本协议的约束。</p>
                <p><strong>第九条 协议的变更与终止 </strong></p>
                <p>本协议生效后，在不违反爱投顾平台规则的基础上，经甲乙双方协商一致可终止或变更本协议。</p>
                <p>本协议生效之日起5个工作日内，甲方有权随时终止本协议，甲方可以书面通知方式提出解除协议，乙方收到客户解除协议书面通知时，本协议即予终止，乙方应将甲方已支付金额退还甲方。</p>
                <p><strong>第十条 管辖 </strong></p>
                <p>本协议受中华人民共和国法律管辖。所有关于本协议及因本协议执行而引起的纠纷的诉讼应向被告所在地人民法院提起。</p>
                <h1 align="center">风险揭示书</h1>
                <p>尊敬的证券投资者：</p>
                <p>证券投资顾问业务是证券投资咨询业务的一种基本形式，虽然是证券投资顾问为投资者提供投资建议，投资者自行作出投资决策，但仍然存在导致投资者投资损失的因素和面临的投资风险。为了使投资者充分了解证券投资顾问业务的风险，在此郑重提醒投资者仔细阅读以下内容：</p>
                <p>第一条、证券投资顾问业务，是指证券公司、证券投资咨询机构接受客户委托，按照约定，向客户提供涉及证券及证券相关产品的投资建议服务，辅助客户作出投资决策，并直接或者间接获取经济利益的经营活动。投资者接受证券投资顾问服务后，自行作出投资决策并独立承担投资风险。</p>
                <p>第二条、投资者在接受证券投资顾问服务前，必须了解提供服务的证券公司、证券投资咨询机构是否具备证券投资咨询业务资格，必须了解为投资者提供投资建议的证券投资顾问是否具备证券投资咨询执业资格并已经注册登记为证券投资顾问。</p>
                <p>第三条、证券市场具有风险性，为投资者提供证券投资顾问业务的证券投资顾问不能确保投资者获得盈利或者本金不受损失，投资者应明确，在证券投资中可能不能盈利甚至本金遭受损失。</p>
                <p>第四条、证券投资顾问为投资者提供的投资建议服务包括投资的品种选择、投资组合以及理财规划建议等。投资建议是具有针对性和实效性的，不能在任何市场环境下长期有效。</p>
                <p>第五条、证券投资顾问为投资者提供投资建议的依据是具有证券投资咨询资格的证券公司、证券投资咨询机构的研究报告。研究报告可能存在不准确、不全面或者被误读的风险，投资者可以向证券投资顾问了解证券研究报告的发布人和发布时间以及投资分析意见的来源，以便在进行投资决策时作出理性判断。</p>
                <p>第六条、在接受证券投资顾问服务前，必须签署服务协议，了解证券投资顾问服务的收费标准和方式，证券投资顾问服务费应向公司账户支付，不得向证券投资顾问人员或其他个人账户支付。</p>
                <p>第七条、证券投资顾问在为投资者进行服务时，可能存在道德风险，如泄漏客户投资决策计划、传播虚假信息、进行关联交易等，投资者如发现证券投资顾问存在违法违规行为或利益冲突情形，可以向投顾机构投诉或向有关部门举报。</p>
                <p>第八条、投资者在接受证券投资顾问服务的过程中，证券公司、证券投资咨询机构存在因停业、解散、撤销、破产，或者被中国证监会撤销相关业务许可、责令停业整顿等原因导致不能履行职责的风险。</p>
                <p>第九条、投资者在接受证券投资顾问服务的过程中，证券投资顾问人员存在因离职、离岗等原因导致更换投资顾问服务人员并影响服务连续性的风险。</p>
                <p>第十条、投资者在接受证券投资顾问服务前，应说明自身资产与收入状况、投资经验、投资需求和风险偏好等情况并接受评估，以便于证券投资顾问根据投资者的风险承受能力和服务需求，向投资者提供适当的证券投资顾问服务。</p>
                <p>第十一条、投资者在接受证券投资顾问服务前，应提供有效的联系方式和服务获取方式，如有变动须及时进行说明，如因投资者自身原因或不可抗力因素导致投资者未能及时获取证券投资顾问服务，责任将由投资者自行承担。</p>
                <p>第十二条、投资者在接受证券投资顾问服务时，应保管好自己的证券账户、资金账户和相应的密码，不要委托证券投资顾问人员管理自己的证券账户、资金账户，代理买卖证券，否则由此导致的风险将由投资者自行承担。</p>
                <p>本风险揭示书的揭示事项仅为列举性质，未能详尽列明投资者接受证券投资顾问服务所面临的全部风险和可能导致投资者投资损失的所有因素。接受证券投资顾问服务的投资者，自行承担投资风险，证券公司、证券投资咨询机构不以任何方式向投资者作出不受损失或者取得最低收益的承诺。 </p>
                <p>投资者在接受证券投资顾问服务前，应认真阅读并理解相关业务规则、证券投资顾问服务协议及本风险揭示书的全部内容。</p>
                <p>特别提示：投资者应签署本风险揭示书，在您点击同意本风险提示书后即表明您已经理解并愿意自行承担接受证券投资顾问服务的风险和损失。</p>
                <div class="bian bian01"><!--匹配高风险-->
                    <p>适当性评估结果确认书</p>
                    <p>本公司已经向您充分揭示了该产品或服务的风险。您的风险承受能力等级、拟购买期限、品种等投资目标与该产品或服务风险等级、购买期限、投资品种相匹配。</p>
                    <p>本公司就上述适当性评估结果与您进行确认，并建议您审慎考察该产品或服务的特征及风险，进行充分风险评估，自行做出投资决定。</p>
                    <p>投资者确认：</p>
                    <p>本人/本机构已认真阅读了贵公司关于产品/服务的风险揭示书，并已充分了解该产品或服务的特征和风险，签署了风险揭示书。</p>
                    <p>本人/本机构在此确认自身风险承受能力等级、拟投资期限、投资品种、预期收益等投资目标与该金融产品或服务风险等级、投资期限、投资品种、预期收益等投资目标相匹配。</p>
                    <p>本人/本机构投资该项产品或接受该项服务的决定，系本人/本机构独立、自主、真实的意思表示，与贵公司及相关从业人员无关。</p>
                    <p>投资者签名或盖章：</p>
                    <p>日    期：</p>
                    <p>尊敬的投资者：</p>
                    <p>您拟投资的产品为投资顾问服务产品，产品其风险等级为高风险，该风险为投资顾问提供的投资建议，如用户按此操作可能产生的股票亏损风险；高于您在客户风险评估中所显示的风险承受能力等级，可能无法满足您预期的流动性需求或导致其他额外风险。投资该项产品，可能导致高出您自身承受能力的损失。</p>
                    <p>我公司就上述情况向您做出提示，并建议您应当审慎考察该产品的特征及风险，自行做出充分风险评估。</p>
                    <p>若您经审慎考虑后，仍坚持投资该产品，请签署下附投资确认书。</p>
                    <p>投资者签名或盖章：</p>
                    <p>日    期： </p>
                </div>
                <div class="bian bian02" ><!--不匹配 高风险-->
                    <p>产品或服务不适当警示及投资者确认书</p>
                    <p>尊敬的投资者： 您拟投资的产品<span class="memo"></span>，可能无法满足您预期的流动性需求或导致其他额外风险；其投资品种为投顾服务，可能与您确认的品种不一致；其风险等级高于您在客户风险评估中所显示的风险承受能力等级。投资该项产品，可能导致高出您自身承受能力的损失。</p>
                    <p>我公司就上述情况向您做出提示，并建议您应当审慎考察该产品的特征及风险，自行做出充分风险评估。</p>
                    <p>若您经审慎考虑后，仍坚持投资该产品，请签署下附投资确认书。</p>
                    <p>投资者确认：</p>
                    <p>本人/本机构已认真阅读了贵公司关于产品/服务的风险揭示书，并已充分了解该产品或服务的特征和风险，签署了风险揭示书。</p>
                    <p>本人/本机构经审慎考虑后，仍坚持投资该项产品，并愿意承担该项投资可能引起的损失和其他后果。投资该项产品的决定，系本人/本机构独立、自主、真实的意思表示，与贵公司及相关从业人员无关。</p>
                    <p>投资者签名或盖章：</p>
                    <p>日    期：</p>
                    <p>尊敬的投资者：</p>
                    <p>您拟投资的产品为投资顾问服务产品，产品其风险等级为高风险，该风险为投资顾问提供的投资建议，如用户按此操作可能产生的股票亏损风险；高于您在客户风险评估中所显示的风险承受能力等级，可能无法满足您预期的流动性需求或导致其他额外风险。投资该项产品，可能导致高出您自身承受能力的损失。</p>
                    <p>我公司就上述情况向您做出提示，并建议您应当审慎考察该产品的特征及风险，自行做出充分风险评估。</p>
                    <p>若您经审慎考虑后，仍坚持投资该产品，请签署下附投资确认书。</p>
                    <p>投资者签名或盖章：</p>
                    <p>日    期：</p>
                </div>
                <div class="bian bian03" ><!--不匹配-->
                    <p>产品或服务不适当警示及投资者确认书</p>
                    <p>尊敬的投资者： 您拟投资的产品<span class="memo"></span>，可能无法满足您预期的流动性需求或导致其他额外风险；其投资品种为投顾服务，可能与您确认的品种不一致；其风险等级高于您在客户风险评估中所显示的风险承受能力等级。投资该项产品，可能导致高出您自身承受能力的损失。</p>
                    <p>我公司就上述情况向您做出提示，并建议您应当审慎考察该产品的特征及风险，自行做出充分风险评估。</p>
                    <p>若您经审慎考虑后，仍坚持投资该产品，请签署下附投资确认书。</p>
                    <p>投资者确认：</p>
                    <p>本人/本机构已认真阅读了贵公司关于产品/服务的风险揭示书，并已充分了解该产品或服务的特征和风险，签署了风险揭示书。</p>
                    <p>本人/本机构经审慎考虑后，仍坚持投资该项产品，并愿意承担该项投资可能引起的损失和其他后果。投资该项产品的决定，系本人/本机构独立、自主、真实的意思表示，与贵公司及相关从业人员无关。</p>
                    <p>投资者签名或盖章：</p>
                    <p>日    期：</p>

                </div>
                <div class="bian bian04" ><!--匹配-->
                    <p>适当性评估结果确认书</p>
                    <p>本公司已经向您充分揭示了该产品或服务的风险。您的风险承受能力等级、拟购买期限、品种等投资目标与该产品或服务风险等级、购买期限、投资品种相匹配。</p>
                    <p>本公司就上述适当性评估结果与您进行确认，并建议您审慎考察该产品或服务的特征及风险，进行充分风险评估，自行做出投资决定。</p>
                    <p>投资者确认：</p>
                    <p>本人/本机构已认真阅读了贵公司关于产品/服务的风险揭示书，并已充分了解该产品或服务的特征和风险，签署了风险揭示书。</p>
                    <p>本人/本机构在此确认自身风险承受能力等级、拟投资期限、投资品种、预期收益等投资目标与该金融产品或服务风险等级、投资期限、投资品种、预期收益等投资目标相匹配。</p>
                    <p>本人/本机构投资该项产品或接受该项服务的决定，系本人/本机构独立、自主、真实的意思表示，与贵公司及相关从业人员无关。</p>
                    <p>投资者签名或盖章：</p>
                    <p>日    期：</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            //获取url参数
            function getQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return r[2];
                return null;
            }
            $('.orderid').html(getQueryString('orderid'));
            $('.jia').html(decodeURI(getQueryString('jia')));
            $('.yi').html(decodeURI(getQueryString('yi')));
            $('.memo').html(decodeURI(getQueryString('memo')));
            $('.price').html(getQueryString('price'));
            var times=getQueryString('timeend')-getQueryString('timestart');
            $('.time').html(Math.floor(times/86400000));
            var tglevel=getQueryString('tglevel');
            var userlevel=getQueryString('userlevel');
            if(tglevel==5){
                if(userlevel==5){
                    $('.bian01').show();
                }else{
                    $('.bian02').show();
                }
            }else{
                if(tglevel<=userlevel){
                    $('.bian04').show();
                }else{
                    $('.bian03').show();
                }
            }

        });
    </script>
</body>

</html>










