<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>爱投顾-金融界-最专业的股市投资咨询服务</title>
    <meta name="keywords" content="爱投顾，投顾，投资顾问，金融界，证券投资，投资咨询，股票咨询，投资顾问服务，股票，证券，股票推荐，投资顾问，投资顾问交流平台，互联网证券，A股，港股，美股" />
    <meta name="description" content="爱投顾是金融界旗下专业证券投资领域的综合性服务平台。为股民、投资者和投顾搭起沟通的桥梁，为股民提供最专业的股市投资咨询服务。投资者可以随时在线与投顾探讨炒股心得，并向投资顾问进行免费咨询。" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />

    <!--\#include virtual="/v2/common_head_css.html" -->
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/v2/waves.min.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/v3/partial-agency.min.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/v2/partial-profile-common.css" rel="stylesheet" />
</head>
<body onload="initBody();">
    <!--site_top_compact.html start-->
    <!--\#include virtual="/v2/site_top_compact.html" -->
    <!--site_top_compact.html end-->
	<input type="hidden" id="orgId" value="$!{orgId}">
    <div class="wrapper agency-bg">
        <!--\#include virtual="/account/organization/$!{orgId}/info.html" -->
        <ul class="agency-nav">
            <li><a href="/account/organization/$!{orgId}/">主页</a></li>
            <li><a href="/account/organization/$!{orgId}/3">直播</a></li>
            <li style="display:none;" class="cur"><a href="/account/organization/$!{orgId}/4">组合跟投</a></li>
            <li><a href="/account/organization/$!{orgId}/2">回答</a></li>
            <li><a href="/account/organization/$!{orgId}/1">观点</a></li>
            <li><a href="/account/organization/$!{orgId}/5">投资内参</a></li>
            <li><a href="/account/organization/$!{orgId}/6">投顾</a></li>
        </ul>
    </div>

    <div class="agency-main wrapper clearfix">
        <div class="agency-main-left">
            <!--组合: start-->
            <div class="agency-block agency-block-portfolio" id="portfolioTit">
                <h3 class="m-tit-row">
                    <span class="s-tit"><em class="hot num" id="portfolio_count">0</em>款组合</span>
                    <span class="tit" id="tit">TA的组合</span>
                </h3>
                <div id="contentList">
               
                </div>
				
                <div id="pagerId" class="pager pager-v2"></div>
            </div>
            <!--组合: end-->
        </div>
        <div class="agency-main-right">
            <!--\#include virtual="/account/organization/$!{orgId}/right.html" -->
        </div>
    </div>

    <!--页面js: start-->
    <!--\#include virtual="/v2/common_head_js.html" -->
    <script type="text/javascript" src="http://js.jrjimg.cn/js.do?f=/lib/ui/jquery.pagefoot-min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/v2/floatdiv.min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/spm_modules/seajs/2.3.0/dist/sea.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/v2/AMD/seajs-Config.js"></script>
    <script>
    
    	function initBody(){
			loadData(1);
		}
		
		//type:adviser   fans  view  answer   portfolio
    	//id : 数字的标签ID
    	//txt:可不传，数字后跟的文字。
    	function gettypenum(id ,type ){
    			$('#'+id).html($('#'+type+'_num_label').html());
    	}
    	gettypenum('adviser_count','adviser');
		function StringBuffer(){
			this.data_ = [];
		}
		StringBuffer.prototype.append = function(){
			this.data_.push(arguments[0]);
			return this;
		}
		StringBuffer.prototype.toString = function(){
			return this.data_.join("");
		} 
    
    	function loadData(p){
			var orgId=$("#orgId").val();
			var jsurl = "http://itougu.jrj.com.cn/organization/portfolio/org_"+orgId+"_"+p+".js";
			var dataTag = 0;
			//$.getScript(jsurl, function() {
			$.ajax({
				type : "get",
				url : jsurl,
				async : false,
				dataType : "script",
				timeout : 10000,
				success : function(d, textStatus) {
				if (typeof(pdata)!='undefined' && pdata!=null && pdata!='null' && pdata!=undefined) { 
					var content = new StringBuffer();
					$("#pagerId").show();
					$.each(pdata.list, function(idx, obj){
							dataTag = 1;
							content.append('<div class="invest-cont">');
							if(obj.isFree==0)
								content.append('<span class="portfolio-rank-item-status"></span>');
							content.append('<h4 class="sub-tit"><a href="/portfolio/v2/detail/'+obj.pid+'.jspa" target="_blank">'+obj.pname+'</a></h4>')
								.append('<div class="invest-info">')
								.append('<dl class="invest-info-1">')
								.append('<dt>总收益</dt>');
							if(obj.portfolioStatis.totalReturnsDouble>0)
								content.append('<dd class="hot">'+obj.portfolioStatis.totalReturnsDouble+'%</dd>');
							else
								content.append('<dd class="green">'+obj.portfolioStatis.totalReturnsDouble+'%</dd>');
							content.append('</dl>')
								.append('<dl class="invest-info-2">')
								.append('<dt>月均交易次数</dt>')
								.append('<dd class="mt15">'+obj.portfolioStatis.stringMonthConcludeTimes+'次</dd>')
								.append('</dl>')
								.append('<dl class="trend">')
								.append('<dt>走势图</dt>')
								.append('<dd>')
								.append('<img src="http://itougu.jrj.com.cn/portfolio/chart/'+obj.pid+'.png" alt="" width="146" height="50" />')
								.append('</dd>')
								.append('</dl>')
								.append('</div>')
								.append('<p class="pre-row">')
								.append('<span class="fl">月目标收益&nbsp;<em>'+obj.portfolioStatis.monthReturnsDouble+'%</em></span>')
								.append('<a class="waves-effect waves-button fr red-btn" href="/portfolio/v2/detail/'+obj.pid+'.jspa" target="_blank">立即查看</a>')
								.append('</p>')
								.append('</div>');
					});
					$('#contentList').empty().append(content.toString());
					
					//gettypenum('portfolio_count','portfolio');
					$('#portfolio_num_label').html(pdata.totalRecord);
					$('#portfolio_count').html(pdata.totalRecord);
					
					$("#pagerId").pagefoot({
			            pagesize:10,
			            count:pdata.totalRecord<200?pdata.totalRecord:200,
			            css:"",
			            current : p,
			            displaynum : 5,
			            displaylastNum :2,
			            previous:"上一页",
			            next:"下一页",
			            enableArrowKey: true,
			            paging:function(page){
		            		var p = page.current;
		            		loadData(p)
		            		window.location.hash="tit";
			            }
			        });
					
				}
				}
			});	
			if(dataTag == 0){
				$('#portfolioTit').removeClass("agency-block-portfolio")
				$('#contentList').empty().append('<div class="empty-cont">机构正在酝酿精品内容</div>');
				$("#pagerId").hide();
			}
		}
		
		$(function(){
			F.hoverCls( '.tgHeadImage_right' , 'itgid_right' );
		});
    	seajs.use(['ExpandHelper'], function (expandHelper) {
            expandHelper.execute({
                selector: '#intro',
                minHeight: 110
            });
        });
        
    </script>
    <!--页面js: end-->
    <!--common-footer-v2.html start-->
    <!--\#include virtual="/v2/common-footer-v2.html" -->
    <!--common-footer-v2.html end-->

</body>
</html>