<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>爱投顾</title>
    <meta name="keywords" content="爱投顾" />
    <meta name="description" content="爱投顾" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,initial-scale=1.0" />

    <link href="http://js.jrjimg.cn/zqt-red-1000/css/reset-min.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/tooltipster.min.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/tooltipster-light.min.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/styles.min.css" rel="stylesheet" />
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/jquery-1.7.2.min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/TabSwitch.2.0-min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/jquery.watermark.min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/jquery.tooltipster.min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/mustache-min.js"></script>

    <link href="http://js.jrjimg.cn/zqt-red-1000/js/editor/dialog.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/js/editor/editor.css" rel="stylesheet" />
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/editor/EditorConfig-compact-ask.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/editor/JRJEditor.js"></script>
    
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/dialog.effect.css" rel="stylesheet" />
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/rAF-Polyfill.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/dialogs-effect.js"></script>
    
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/jquery.form.js"></script>

    <script type="text/javascript">
        $(function () {
        	setTimeout(function () {
                frameElement._thisDialog.resizeIfrH();
                frameElement._thisDialog.dlg.resetPosition();
            }, 0);
            
             //默认选择“A股”
           $("#type").val('1');
           
            //checkbox
            $('.custom-checkbox li').mouseenter(function () {
                if (!$(this).hasClass('checked') && !$(this).hasClass('disable')) {
                    $(this).addClass('hover');
                }
            }).mouseleave(function () {
                $(this).removeClass('hover');
            }).click(function () {
                if (!$(this).hasClass('checked') && !$(this).hasClass('disable')) {
                    $('.custom-checkbox li').removeClass('checked');
                    $(this).addClass('checked');
                    var type = $(this).attr('id')
                    //alert ("ll:"+type);
                    $("#type").val(type);
                } else {
                  if($(this).siblings('.checked').length > 0) {
                    $(this).removeClass('checked');
                  }
                }
            });

            //checkbox

            $('#Checkbox1').click(function () {
                if ($(this).is(':checked')) {
                    $('.custom-checkbox li[data-only="1"]').addClass('disable');
                    $('.custom-checkbox li[data-only="1"]').removeClass('checked');
                } else {
                    $('.custom-checkbox li[data-only="1"]').removeClass('disable');
                }
            });

            $('.icon-tooltip').tooltipster({
                theme: 'tooltipster-light',
                contentAsHTML: true,
                content: '<div class="tc">每天可提问10次</div><div style="width:200px;">对已签约投顾可额外提问10次</div>'
            });
            
            var initContent = '$!initContent';
            
            if(initContent) {
              window.editor.setHtml('<p>' + initContent + '</p>');
            }
            
            $('#btnSubmit').click(function (e) {
                e.preventDefault();
               	
			 	var html = editor.getHtml();
			 	var texthtml = editor.getText();
			 	var rg = new RegExp("^&nbsp;*");
                var str = window.editor.getText().replace(/^&nbsp;*|<br type="_moz">|<br>/g, '');
                var length=str.length;
			 	if(editor.getContentLength()<1){
			 		JRJ.MiniAlerts.prompt({
                    	message: "<p>提问内容不能为空</p>"
                	});
			 	}else if(editor.getContentLength()>200){
			 		JRJ.MiniAlerts.prompt({
                    	message: "<p>您提问的内容已经超限，再精简一下吧</p>"
                	});
			 	}else{
				 	$("#cont").val(html); 
				 	$("#textcont").val(texthtml);
				 	//alert($("#cont").val());
				 	//alert($("#textcont").val());
				 	var options = {  
		                success: callBackGraFunc  
		            };  
		              
		            // jquery.form 提交表单  
		            $('#form1').ajaxSubmit(options);
		        }
	        });
	         
			$('#btnCancel').click(function (e) {
	        	frameElement._thisDialog.close();	
	        });
            
        });
        
		 //统计编辑器中内容的字数
		function getContentLength(){
		   var oDOM = editor.editorDocument;
		   var iLength ;
		   if(document.all){
		     iLength = oDOM.body.innerText.length;
		   }else{
		     var r = oDOM.createRange();
		     r.selectNodeContents(oDOM.body);
		     iLength = r.toString().length;
		   }
		   //alert(iLength)
		   return iLength;
		 }
		 
		 function callBackGraFunc(responseText, statusText) {
		 	//alert(responseText)
		 	if (parseFloat(responseText) > 0){
		 		//JRJ.MiniAlerts.prompt({
                 //   message: "<p>提交成功</p>"
                //});
		 		//frameElement._thisDialog.close();	
		 		window.location="/ques/asksuccess.jspa";
		 		//window.parent.location.reload();
		 	} else {
        window.location="/ques/askfailure.jspa?c=" + responseText;
      }
		 }
		 
    </script>
</head>
<body style="background:#fff;">
	<form action="saveAsk.jspa" method="post" id="form1">
    <div class="dialog-cnt dialog-ask clearfix">
        <p class="title"><span class="fr">今日剩余提问<span class="num">${askcount}</span>次<i class="icon icon-tooltip ml5"></i></span><span>提问应遵循真实、客观、简洁、明确、规范的原则</span></p>
        <div class="editor-wrap" style="height:230px;">
            <script>
                var editor = new JRJEditor("editor1", 670, 200, "default", '');
                var sBasePath = '/jsp/portal/mngr/';
                JRJEditConfig.BasePath = sBasePath;
                JRJEditConfig.UploadImage = true;
                JRJEditConfig.UploadFile = true;
                editor.create({
                    hasNumCheck: true,
                    num: 200
                });
            </script>
        </div>
        <input type="hidden" name="content"/>
        <div class="custom-checkbox-wrap-2 clearfix">
            <span class="fl mr10">类型</span>
            <ul class="custom-checkbox clearfix fl" style="width: 600px;">
                <li id="1" class="checked">A股</li>
                <li id="2">港股</li>
                <li id="3">美股</li>
                <li id="4">基金</li>
                <li id="5">贵金属</li>
                <li id="6" class="last">其他理财</li>
            </ul>
        </div>
        <input type="hidden" name="cont" id="cont" style="display:none"/> 
        <input type="hidden" name="type" id="type" style="display:none"/>
        <input type="hidden" name="textcont" id="textcont" style="display:none"/>
        <p class="mt20 tc"><a class="btn btn-113-30" id="btnSubmit">提交问题</a><a class="btn btn-113-30 ml30" id="btnCancel">取消</a></p>
    </div>
    </form>    

</body>

</html>
