<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<script>
		window.ssoId='${ssoId}';
		window.spToken='${spToken}';
    document.getElementsByTagName('html')[0].style.fontSize= document.documentElement.getBoundingClientRect().width / 750 * 625 + '%'
  </script>
	<script src="https://cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"></script>
<link href="http://i0.jrjimg.cn/assets/activity/jichushare.29fdbcd252cb.css" rel="stylesheet"></head>

<body>
	<app><!--content--></app>
<script type="text/javascript" src="http://i0.jrjimg.cn/assets/activity/vendors.dac859b336bf.js"></script><script type="text/javascript" src="http://i0.jrjimg.cn/assets/activity/jichushare.29fdbcd252cb.js"></script></body>

</html>