
#ul_container { width: 800px; height: 500px; border: 1px solid #333; background: #05090e; overflow: hidden; position: relative; margin: 120px auto 0; }
#ul_container li { position: absolute; list-style: none; }
#pic1 { top: 210px; left: 550px; }
#pic2 { top: 290px; left: 430px; }
#pic3 { top: 215px; left: 220px; }
#pic4 { top: 150px; left: 100px;  }
#pic6 { top: 290px; left: 80px;  }
#pic7 { top: 120px; left: 480px;  }
#pic8 { top: 60px; left: 380px;  }
#pic5 { top: -40px; left: -50px; width: 1422px; height: 1000px; background: url(../images/bg.jpg) no-repeat; }