#parse('../velocity/macro/page.vm')
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我的收入-爱投顾-金融界</title>
    <meta name="keywords" content="证券通" />
    <meta name="description" content="证券通" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,initial-scale=1.0" />
	<!--\#include virtual="/common_head_css_js.html" -->
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/tooltipster.min.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/tooltipster-light.min.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/partial-revennue.min.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/calendar.css" rel="stylesheet" />
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/jquery.tooltipster.min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/calendar.js"></script>

    <script type="text/javascript">
        $(function () {



            //menu
            $('.site-menu-title').click(function () {
                if (!$(this).parent().hasClass('site-menu-expand')) {
                    $(this).parent().addClass('site-menu-expand');
                    $(this).parent().stop().animate({ height: $(this).parent().outerHeight() + $(this).next().outerHeight() + 'px' }, 200);
                } else {
                    $(this).parent().removeClass('site-menu-expand');
                    $(this).parent().stop().animate({ height: '47px' }, 200);
                }
            });
            $('.site-menu-title .stop').click(function (e) {
                e.stopPropagation();
            });
            $('.site-menu-cur').find('.site-menu-title').click();
            $('.site-menu').mouseenter(function () {
                $(this).addClass('site-menu-hover');
            }).mouseleave(function () {
                $(this).removeClass('site-menu-hover');
            });
            $('.menu-list li').mouseenter(function () {
                $(this).addClass('hover');
            }).mouseleave(function () {
                $(this).removeClass('hover');
            });
            //menu



            $('.icon-tooltip').tooltipster({
                theme: 'tooltipster-light'
            });
            
            new JRJ.ui.Calendar("cal-1");
        });
        
        function queryBill() {
        	var date = $("#cal-1").val();
        	window.location = "/account/income/bill.jspa?month="+date;
        }
    </script>
</head>
<body>
    <!--site-top-->
    <!--# include virtual="/site_top_header.html" -->
    <!--site-header-->
    <!--bread-crumb-->
    <div class="site-breadcrumb">
        <div class="wrapper">
            <a href="">金融界爱投顾</a>
            <span>&gt;</span>
            <a href="" class="cur">我的投顾空间</a>
        </div>
    </div>
    <!--bread-crumb-->

    <div class="site-main">
        <div class="wrapper">
			<!--site-main-left-->
			<!--# include virtual="/tgself.html" -->
			<!--site-main-left-->
            <!--site-main-right-->
            
            <div class="site-main-right">
                <h1 class="page-title-2 page-title-2-float clearfix">
                    <span class="f16">账单记录</span>
                    <i class="icon icon-tooltip" title="每月5日生成上月账单，20日前发放"></i>
                </h1>
                
                <!-- <div class="revenue-searchbar clearfix">
                    <span>日期：</span>
                    <input id="cal-1" type="text" class="txtbox-calendar" />
                    <a href="" class="btn btn-45-24-blue" onclick="queryBill();">查询</a>
                </div> -->
				#if($!{page.obj.size()}>0)
                <div class="revenue-table-th clearfix">
                    <span>创建时间</span>
                    <span>投顾奖金</span>
                    <span>经纪奖金</span>
                    <!-- 
                    <span>组合跟投收入</span>
                     -->
                    <span>奖金汇总</span>
                    <span>实发奖金</span>
                    <span>状态</span>
                </div>
				
					#foreach($bill in $!page.obj)
	                <div class="revenue-record-item">
	                    <div class="revenue-record-item-title">
	                        <a href="/account/income/billDetail.jspa?billId=$!bill.id&month=$!bill.month" target="_blank" class="fr link">明细</a>
	                        <span>账单周期：</span><strong>$!bill.bill_period</strong>         
	                        <span class="ml40">账单编号：$!bill.bill_num</span>
	                    </div>
	                    <div class="revenue-record-item-cnt clearfix">
	                        <span>$!bill.bill_ctime_display</span>
	                        
	                        <span>$!bill.adviser_reward_display</span>
	                        <span>$!bill.invite_reward_display</span>
	                        <!-- 
	                        <span>$!bill.portfolio_reward_display</span>
	                         -->
	                        <!-- <span class="red">$!bill.change_fee_display</span> -->
	                        <span>$!bill.total_reward_display</span>
	                        <span class="red">$!bill.give_reward_display</span>
	                        <span class="last">$!bill.is_given_display</span>
	                    </div>
	                </div>
                	#end
	                <div class="pager">
	                	#set($pageNo=$page.curPage)
	                	#set($pageSize=$page.pageCount)
	                	#set($totalCount=$page.total)
	                	
	                	#pagecut($pageNo,$pageSize,$totalCount)
	               
	                </div>
                #else
	                <div class="empty-wrap middle tc f16">
						<img src="http://js.jrjimg.cn/zqt-red-1000/images/icon-alert.png">
						<span class="ml10">暂无数据</span>
					</div>
                #end
            </div>

        </div>
        <!--site-main-right-->
    </div>

    <!--footer-->
    <!--\#include virtual="/common_footer.html" -->
    <!--footer-->
</body>
</html>
