<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我的收入-爱投顾-金融界</title>
    <meta name="keywords" content="证券通" />
    <meta name="description" content="证券通" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,initial-scale=1.0" />
	<!--\#include virtual="/common_head_css_js.html" -->
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/tooltipster.min.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/tooltipster-light.min.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/partial-revennue.min.css" rel="stylesheet" />
	<script src="http://js.jrjimg.cn/zqt-red-1000/js/jquery.tooltipster.min.js"></script>
    <script type="text/javascript">
        $(function () {



            //menu
            $('.site-menu-title').click(function () {
                if (!$(this).parent().hasClass('site-menu-expand')) {
                    $(this).parent().addClass('site-menu-expand');
                    $(this).parent().stop().animate({ height: $(this).parent().outerHeight() + $(this).next().outerHeight() + 'px' }, 200);
                } else {
                    $(this).parent().removeClass('site-menu-expand');
                    $(this).parent().stop().animate({ height: '47px' }, 200);
                }
            });
            $('.site-menu-title .stop').click(function (e) {
                e.stopPropagation();
            });
            $('.site-menu-cur').find('.site-menu-title').click();
            $('.site-menu').mouseenter(function () {
                $(this).addClass('site-menu-hover');
            }).mouseleave(function () {
                $(this).removeClass('site-menu-hover');
            });
            $('.menu-list li').mouseenter(function () {
                $(this).addClass('hover');
            }).mouseleave(function () {
                $(this).removeClass('hover');
            });
            //menu



            $('.revenue-help-item-title').click(function () {
                $('.revenue-help-item-cur').find('.revenue-help-item-cnt').slideUp(300);
                $('.revenue-help-item-cur').removeClass('revenue-help-item-cur');

                $(this).parent().toggleClass('revenue-help-item-cur');
                $(this).next().slideToggle(300);
            });

            $('.revenue-help-item:first .revenue-help-item-title').click();
        });
    </script>
</head>
<body>
    <!--site-top-->
    <!--# include virtual="/site_top_header.html" -->
    <!--site-header-->
    <!--bread-crumb-->
    <div class="site-breadcrumb">
        <div class="wrapper">
            <a href="">金融界爱投顾</a>
            <span>&gt;</span>
            <a href="" class="cur">我的投顾空间</a>
        </div>
    </div>
    <!--bread-crumb-->

    <div class="site-main">
        <div class="wrapper">
			<!--site-main-left-->
			<!--# include virtual="/tgself.html" -->
			<!--site-main-left-->
            <!--site-main-right-->

            <div class="site-main-right">
                <h1 class="page-title-2 page-title-2-float clearfix">
                    <a href="/account/income/index.jspa" class="fr f14">返回</a>
                    <span class="f16">帮助</span>
                </h1>

                <div class="revenue-help-item">
                    <div class="revenue-help-item-title">我的收入？</div>
                    <div class="revenue-help-item-cnt">
                        <p>爱投顾平台给投资顾问或投资达人（以下统称“投顾”）提供组合跟投和投资内参收入；收入以多劳多得为原则，保障每一位投顾在爱投顾平台获得公平的回报！</p>
                    </div>
                </div>
                 <div class="revenue-help-item">
                    <div class="revenue-help-item-title">什么是投资内参总销售额？</div>
                    <div class="revenue-help-item-cnt">
                        <p>投资内参总销售额，是投资顾问创建的内参销售金额汇总，投资顾问能获得的内参收益部分请以官方实发为准。</p>
                    </div>
                </div>
                 <div class="revenue-help-item">
                    <div class="revenue-help-item-title">什么是组合跟投总销售额？</div>
                    <div class="revenue-help-item-cnt">
                        <p>组合跟投总销售额，是投资顾问创建的组合销售金额汇总，投资顾问能获得的组合收益部分请以官方实发为准。</p>
                    </div>
                </div>
                 <div class="revenue-help-item">
                    <div class="revenue-help-item-title">什么是奖金总收入？</div>
                    <div class="revenue-help-item-cnt">
                        <p>奖金总收入，由投资内参总销售额、组合跟投总销售额组成，奖金每月5日生成上月账单，每个自然月20日前按账单实发奖金发放，如遇节假日进行相应顺延。</p>
                    </div>
                </div>
                <div class="revenue-help-item" style="display:none">
                    <div class="revenue-help-item-title">什么是投顾奖金？</div>
                    <div class="revenue-help-item-cnt">
                        <p>用户在爱投顾平台和您签约成功，并通过证券通成功交易，您能从交易佣金中获得投顾奖金。</p>
                        <p>投顾奖金=平台收入*投顾分成比率</p>
                    </div>
                </div>
                <div class="revenue-help-item" style="display:none">
                    <div class="revenue-help-item-title">什么是经纪奖金？</div>
                    <div class="revenue-help-item-cnt">
                        <p>邀请用户在证券通开户，并通过证券通成功交易，您能从交易佣金中获得经纪奖金。</p>
                        <p>经纪奖金=平台收入*经纪分成比率(25%)</p>
                    </div>
                </div>
                <div class="revenue-help-item" style="display:none">
                    <div class="revenue-help-item-title">什么是投顾奖金分成比率？</div>
                    <div class="revenue-help-item-cnt">
					<p>不同投顾的级别奖金分成比率不同
					<p>投顾：投资顾问、高级投顾、金牌投顾85%，投资大师100%；</p>
					<p>达人：投资达人、高级达人、金牌达人80%，投资大师95%；</p>
					</div>
                </div>
                <div class="revenue-help-item" style="display:none">
                    <div class="revenue-help-item-title">什么是交易费用？</div>
                    <div class="revenue-help-item-cnt">交易费用=交易佣金</div>
                </div>
                <div class="revenue-help-item">
                    <div class="revenue-help-item-title">什么是实发奖金？</div>
                    <div class="revenue-help-item-cnt">根据奖金汇总计税后的实发奖金，扣税部分参考国家统一规定的劳务报酬所得税表</div>
                </div>
                <div class="revenue-help-item">
                    <div class="revenue-help-item-title">为什么收入明细和账单数据不准确？</div>
                    <div class="revenue-help-item-cnt">内参、组合收入因为会有退款、或者优惠券结算问题，因此以线下站方的明细为准。</div>
                </div>
            </div>

        </div>
        <!--site-main-right-->
    </div>

    <!--footer-->
    <!--\#include virtual="/common_footer.html" -->
    <!--footer-->
</body>
</html>
