<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我的邀请码-爱投顾-金融界</title>
    <meta name="keywords" content="证券通" />
    <meta name="description" content="证券通" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,initial-scale=1.0" />
	<!--\#include virtual="/common_head_css.html" -->
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/partial-invitation.min.css" rel="stylesheet" />
	
</head>
<body>
    <!--site-top-->
    <!--# include virtual="/site_top_header.html" -->
    <!--site-header-->
    <!--bread-crumb-->
    <div class="site-breadcrumb">
        <div class="wrapper">
            <a href="">金融界爱投顾</a>
            <span>&gt;</span>
            <a href="" class="cur">我的爱投顾</a>
        </div>
    </div>
    <!--bread-crumb-->

    <div class="site-main">
        <div class="wrapper">
			<!--site-main-left-->
			<!--# include virtual="/myself.html" -->
			<!--site-main-left-->
            <!--site-main-right-->
            
            <div class="site-main-right">
                <h1 class="page-title-2">
                    <a href="/account/invite/list.jspa" class="link fr f14">邀请记录</a>
                    <span>我的邀请码</span>
                </h1>
                <div class="invitation-wrap">
                    <p>您可以将邀请码或链接通过QQ、邮箱等方式发送给您的好友，参与邀请活动</p>
                    <div class="title mt30">
                    	<a href="http://itougu.jrj.com.cn/site/help.html?tag=invite" class="link fr f14" style="font-weight:normal;" target="_blank">如何使用</a>
                    	<span>我的邀请码</span>
                    </div>
                    <div class="invitation-code-block">
                        <p id="text">$!inviteCode</p>
                        <button id="fuzhi" class="btn" data-clipboard-text="$!inviteCode">复制</button>
                    </div>
                    
                    <div class="title mt30">我的专属邀请链接</div>
                    <div class="invitation-share-block mt10">
                        <ul class="clearfix">
                            <li class="first cur" id="menu_1">邀请注册投顾</li>
                            <li id="menu_2">邀请好友开户</li>
                        </ul>
                        <div id="con_1" class="invitation-share-block-cnt">
                            <p id="text1">$!tgText</p><input type="hidden" id="tgInviteUrl" value="$!tgUrl">
                            <div class="clearfix mt10">
                                <div class="bdsharebuttonbox-wrap fr">
                                    <button id="fuzhi1" class="btn fr fuzhi1" data-clipboard-text="$!{tgText} 【爱投顾】">复制</button>
                                    <div class="bdsharebuttonbox fr bdshare-button-style1-24" data-tag="share_tg" data-bd-bind="1420617351004">
                                    	<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                    	<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                    	<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                    </div>
                                    <span class="share-title">分享</span>
                                </div>
                            </div>
                        </div>
                        <div id="con_2" class="invitation-share-block-cnt" style="display:none;">
                            <p id="text2">$!zqtText</p><input type="hidden" id="zqtInviteUrl" value="$!zqtUrl">
                            <div class="clearfix mt10">
                                <div class="bdsharebuttonbox-wrap fr">
                                    <button id="fuzhi2" class="btn fr" data-clipboard-text="$!{zqtText} 【爱投顾】">复制</button>
                                    <div class="bdsharebuttonbox fr bdshare-button-style1-24" data-tag="share_zqt" data-bd-bind="1420617351004">
                                    	<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                    	<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                    	<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                    </div>
                                    <span class="share-title">分享</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title mt30">邀请活动</div>
                    <ul class="invitation-events">
                    	#foreach($ad in ${ads})
                        <li class="bullet-$velocityCount"><a target="_blank" href="$!{ad.url}">$!{ad.text}</a></li>
                        #end
                        <!-- <li class="bullet-2"><a href="#">邀请投20元红包奖励顾获得20元红包奖励</a></li>
                        <li class="bullet-3"><a href="#">邀请投顾及达人注册顾获得20元红包奖励顾获得20元红包奖励</a></li> -->
                    </ul>
                </div>
            </div>

        </div>
        <!--site-main-right-->
    </div>

	<!--\#include virtual="/common_head_js.html" -->
	<script src="http://js.jrjimg.cn/itougu/account/ZeroClipboard.min.js"></script>
    <script type="text/javascript">
    	window.siteNav='itougu';
        $(function () {
            $('#txtSearch').watermark('搜索观点/投资品种/投资顾问...');

            //site-top 用户信息
            var _timer = null;
            var dropDownListEvent = function (op, obj) {
                window.clearTimeout(_timer);
                _timer = setTimeout(function () {
                    if (op == 'open') {
                        $(obj).find('.trigger').addClass('trigger-drop');
                        $(obj).find('.cnt').show();
                    } else {
                        $(obj).find('.trigger').removeClass('trigger-drop');
                        $(obj).find('.cnt').hide();
                    }
                }, 300);
            };

            $('.site-top .userinfo').mouseenter(function () {
                dropDownListEvent('open', this);
            }).mouseleave(function () {
                dropDownListEvent('close', this);
            });
            //site-top 用户信息


            //menu
            $('.site-menu-title').click(function () {
                if (!$(this).parent().hasClass('x')) {
                    $(this).parent().addClass('site-menu-expand');
                    $(this).parent().addClass('x');
                    $(this).parent().stop().animate({ height: $(this).parent().outerHeight() + $(this).next().outerHeight() + 'px' }, 200);
                } else {
                    $(this).parent().removeClass('site-menu-expand');
                    $(this).parent().removeClass('x');
                    $(this).parent().stop().animate({ height: '47px' }, 200);
                }
            });
            $('.site-menu-title .stop').click(function (e) {
            	alert(4);
                e.stopPropagation();
            });
            $('.site-menu-cur').find('.site-menu-title').click();
            $('.site-menu').mouseenter(function () {
                $(this).addClass('site-menu-hover');
            }).mouseleave(function () {
                $(this).removeClass('site-menu-hover');
            });
            $('.menu-list li').mouseenter(function () {
                $(this).addClass('hover');
            }).mouseleave(function () {
                $(this).removeClass('hover');
            });
            //menu


            //复制到剪切板
            var codeClip = new ZeroClipboard(document.getElementById("fuzhi"), {
            	moviePath: "http://itougu.jrj.com.cn/js/ZeroClipboard.swf"
            });
            codeClip.on('complete', function (client, args) {
                alert('已经复制内容到剪贴板');
            });
            
            var tgClip = new ZeroClipboard(document.getElementById("fuzhi1"), {
            	moviePath: "http://itougu.jrj.com.cn/js/ZeroClipboard.swf"
            });
            tgClip.on('complete', function (client, args) {
                alert('已经复制内容到剪贴板');
            });
            
            var zqtClip = new ZeroClipboard(document.getElementById("fuzhi2"), {
            	moviePath: "http://itougu.jrj.com.cn/js/ZeroClipboard.swf"
            });
            zqtClip.on('complete', function (client, args) {
                alert('已经复制内容到剪贴板');
            });
            
            var tab = new JRJ.ui.TabSwitch({
                menuPre: "menu_",
                conPre: "con_",
                total: 2,
                onClass: "cur",
                eventType: 'click'
            });
            
            tab.show(2);
            /* var from = '$!request.getParameter("from")';
            if(from!='zqt')
            	tab.show(1); */
            
        });
        
    </script>
    <!--footer-->
    <!--\#include virtual="/common_footer.html" -->
    <!--footer-->
</body>
</html>
