<html>
	<head>
		<!--\#include virtual="/common_head_css_js.html" -->
		<script type="text/javascript">
			function bindInviteRelation() {
				var inviterId = $("#inviterId").val();
				var userId = $("#userId").val();
				var type = $("#type").val();
				var remark = $("#remark").val();
				
				if(inviterId==""||inviterId==null) {
					alert("邀请人不能为空！！");
					return;
				}
				if(userId==""||userId==null) {
					alert("被邀请人不能为空！！");
					return;
				}
				if(inviterId==userId) {
					alert("邀请人和被邀请人不能为同一人！！");
					return;
				}
				$.ajax({
					url:"/account/backdoor/bindInviteRelation.jspa",
					data:{inviterId:inviterId, userId:userId, type:type, remark:remark},
					dataType:"json"
				}).done(function(data){
					alert(data.msg);
				})
			}
		</script>
	</head>
	<body>
		<h3>测试用</h3>
		<hr>
		<h4>绑定邀请关系</h4>
		邀请人：<input type="text" id="inviterId"><br>
		被邀请人：<input type="text" id="userId"><br>
		来源系统：
		<select id="type">
			<option value="ZQT">证券通</option>
			<option value="YLB">盈利宝</option>
			<option value="JRJ">金融界</option>
			<option value="TG">爱投顾</option>
			<option value="TG_android">爱投顾安卓</option>
			<option value="TG_IOS">爱投顾苹果</option>
		</select>
		邀请内容：
		<select id="remark">
			<option value="1">注册</option>
			<option value="2">完善信息</option>
			<option value="3">绑户</option>
			<option value="4">申请投顾</option>
			<option value="5">申请达人</option>
		</select>
		<br>
		<input type="button" onclick="bindInviteRelation();" value="绑定">
		<hr>
	</body>
</html>