<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,initial-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="Keywords" content="套利企鹅、股民老张、指南针、优惠券、投资内参" />
<meta name="Description" content="爱投顾集合套利企鹅、股民老张、指南针三位大咖，赠送1888元投资专享金，助你抓住年末行情中赚钱机会！" />
<title>1888元投资专享金免费领</title>
<style type="text/css">
/* init */
body,div,p,h1,h2,h3,h4,h5,h6,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,th,td{margin: 0; padding: 0; }
address, cite, em, i { font-style: normal; }
body{ -webkit-appearance: none; background:#cc3022;}
li { list-style: none; }
a { color:#535862; text-decoration: none;-webkit-tap-highlight-color:transparent; }
img{ vertical-align: top; border: 0;  }
input[type="button"], input[type="submit"], input[type="reset"] { cursor: pointer; }
input{outline: none;border: none; background-color:transparent;  
    color:#fff; FILTER: alpha(opacity=0);appearance:none;-moz-appearance:none;-webkit-appearance:none;}
html,body{font:20px/1rem 'Microsoft Yahei'; color: #333;}
.clearfix:after{ display: block;content: ''; clear: both;}
.fl{ float: left;}
.fr{ float: right;}
.bsbb{ box-sizing:border-box;}
.btnbottom{ height: 1.7rem; background: #efeff4; padding-top: 2.3rem; padding-right: .75rem;} 
.btnbottom .btna{ margin-left: 1.75rem;}
.bgbig { width: 100%; height: 100%; background: url(http://i0.jrjimg.cn/wap2014/wxbug/bgbig.png) repeat; position: fixed; top: 0; left: 0; z-index: 9998; }
.tsbox { position: fixed; top: 0; right: 0; z-index: 9999; }
.tsbox img{ width:100% !important;}
.bg{ width:18.75rem;height:13.25rem; background: url(http://i0.jrjimg.cn/zqt-red-1000/focus/focus20161121xiangjin/bg_01.png) center center; background-size: 100% 100%;}  
.bg .pic{ width: 3.9rem; height:3.9rem; background:url(http://i0.jrjimg.cn/zqt-red-1000/focus/focus20161121xiangjin/pic.png);border-radius: 50%;margin-left: 1.5rem; border:4px solid #b02b1f; box-shadow: 0px 2px 2px #c43b2f;background-size: 100% auto;}
.bg .pic2{background-position: 0 -3.9rem;}
.bg .pic3{background-position: 0 -7.8rem;}
.bg .msg{ width: 11rem; color: #fff; margin-left: .7rem;}
.bg .msg h3{ font-size: .7rem; line-height: .7rem; margin-bottom: .5rem; }
.bg .msg p{ line-height: .8rem; font-size: .6rem;}
.bg .btn{ width: 12.25rem; height: 1.95rem; background:url(http://i0.jrjimg.cn/zqt-red-1000/focus/focus20161121xiangjin/btn.png) no-repeat; display: block; margin:.625rem auto 0;    background-size: 100% auto;}
.bg .gray{ background-position: 0 -1.95rem;}
.bg1{ padding-top:5rem; height:8.25rem;}
.bg2{background-image: url(http://i0.jrjimg.cn/zqt-red-1000/focus/focus20161121xiangjin/bg_02.png);} 
.bg2 .in{ padding-top: 1.75rem; width: 14rem; margin:0 auto;}
.bg2 p{ font-size:.7rem; color: #666; text-indent: 2em; margin-bottom: .25rem; }
.bg3{background-image: url(http://i0.jrjimg.cn/zqt-red-1000/focus/focus20161121xiangjin/bg_03.png);height: 6rem;} 
.bg4{background-image: url(http://i0.jrjimg.cn/zqt-red-1000/focus/focus20161121xiangjin/bg_04.png);height: 6rem;} 
.bg5{background-image: url(http://i0.jrjimg.cn/zqt-red-1000/focus/focus20161121xiangjin/bg_05.png);height:9rem;} 
.bg6{background-image: url(http://i0.jrjimg.cn/zqt-red-1000/focus/focus20161121xiangjin/bg_06.png);height: 13.05rem;} 
.anileft{animation: haha .5s cubic-bezier(0.9,-0.09, 0, 2.0) infinite; height:4rem; background:url(http://i0.jrjimg.cn/zqt-red-1000/focus/focus20161121xiangjin/free.png);  width:13.575rem;margin:0 auto;background-size:100% 100%; }
@keyframes haha{
    from {transform:scale(1.2);}
    top {transform:scale(.8);}
}
</style>
</head>
<body>
    <div class="bg bg1"><div class="anileft"></div></div>
    <div class="bg bg2">
        <div class="in">
            <p>自从A股经历年初熔断暴跌以来，沪指9个月已从2638点缓慢爬升至3200点，反弹超过<b>20</b>%，达到“技术牛市”标准。于是乎，老话题又来了：年末会有行情吗？怎样抓住这最后一波<b>赚钱行情？</b>
         </p>
            <p>爱投顾集合三位股市大咖，为你提供最专业最全面的投资指导，助你抓住年末行情中<b>赚钱机会！</b></p>
        </div>
    </div>
    <div class="bg bg3">
        <div class="up clearfix">
            <a href="javascript:;" class="pic fl pic1"></a>     
            <div class="msg fl">
                <h3>套利企鹅</h3>
                <p>微博大V，著名微博股评师，思多金联合创始人，微博粉丝23万，微信公众号粉丝11万。擅长用“题材分析+量化分析”建立短线交易模型，投资风格稳健。</p>
            </div>
        </div>
    </div>
    <div class="bg bg4">
        <div class="up clearfix">
            <a href="javascript:;" class="pic fl pic2"></a>
            <div class="msg fl">
                <h3>股民老张</h3>
                <p>博客点击超千万，微博粉丝13万，微信公众号粉丝10万，财经网红。擅长长周期的大趋势的宏观形势研判、分时高低点的精确捕捉、大视野角度的投资研究。</p>
            </div>
        </div>
    </div>
    <div class="bg bg5">
        <div class="up clearfix">
            <a href="javascript:;" class="pic fl pic3"></a>
            <div class="msg fl">
                <h3>指南针</h3>
                <p>知名网站博主、拥有粉丝350多万曾三次获得“最具人气投资者”称号，擅长分散布局长线股，大波段操作的长期投资理念。</p>
            </div>
        </div>
        <span class="btn"></span>
        <span class="register"></span>
    </div>
    <div class="bg bg6"></div>
    <div class="tsbox" style="display:none;"><img src="http://i0.jrjimg.cn/wap2014/wxbug/newtcphone.png" /></div> <div class="bgbig" style="display:none;"></div>
<script src="http://js.jrjimg.cn/zqt-red-1000/js/jquery-1.7.2.min.js"></script>    
<script>
    /*计算字体大小*/
    function change(){
        document.documentElement.style.fontSize=20*document.documentElement.clientWidth/375+'px';
    }
    change();
    window.addEventListener('resize',change,false);
    $(function(){
        var appname='${source}';
        var userId = '${uid}'=='null' ? '':'$!{uid}';
        var platId='${platId}';
        var itmp=true;
        if (appname=='itougu') {
            //站内
           $('.btn').unbind().click(function(){
                if(itmp){
                 if(userId){
                    $.ajax({
                        url:'http://itougu.jrj.com.cn/marketing/sendCouponToUserForActivity.jspa',
                        type:'post',
                        dataType:'json',
                        data:{
                            userId:userId,
                            couponInfoId:382,
                            platId:platId
                        },
                        success:function(data){
                            if(data=='1'){
                                $('.btn').addClass('gray');
                                itmp = false;
                            }
                        }
                    });
                }else if(userId==''){
                    jrj.jsCallNative('108', JSON.stringify({ returnUrl: encodeURI(window.location.href) }))
                }
               }
            });
           $('.pic1').unbind().click(function(){
                window.location.href='http://itougu.jrj.com.cn/account/adviser/161010010095493707/';
           });
           $('.pic2').unbind().click(function(){
                window.location.href='http://itougu.jrj.com.cn/account/adviser/161013010076021720/';
           });
           $('.pic3').unbind().click(function(){
                window.location.href='http://itougu.jrj.com.cn/account/adviser/161101010056791956/';
           });
           //跳投顾个人主页
           
        }else{
            //站外
            $('.btn,.pic1,.pic2,.pic3').unbind().click(function(){
                goDownload();
                return;
            });
        }
        var goDownload = function() {
            var IS_IPAD = navigator.userAgent.match(/iPad/i) != null,
                IS_IPHONE = !IS_IPAD && ((navigator.userAgent.match(/iPhone/i) != null) || (navigator.userAgent.match(/iPod/i) != null)),
                IS_IOS = IS_IPAD || IS_IPHONE,
                IS_ANDROID = !IS_IOS && navigator.userAgent.match(/android/i) != null,
                IS_MOBILE = IS_IOS || IS_ANDROID;

            //判断是不是微信打开
            function is_weixin() {
                var ua = navigator.userAgent.toLowerCase();
                if (ua.match(/MicroMessenger/i) == "micromessenger") {
                    return true;
                } else {
                    return false;
                }
            }
            //如果是用微信打开并且是ios
            function is_weixin_ios() {
                var ua = navigator.userAgent.toLowerCase();
                if (ua.match(/MicroMessenger/i) == "micromessenger" && browser.versions.ios == true) {
                    return true; } else {
                    return false; }
            };

            $(".bgbig").unbind().click(function() {
                $(".tsbox,.bgbig").hide();
            });

            if (is_weixin() == true) {
                $(".tsbox,.bgbig").show();
            } else if (is_weixin_ios() == true) {
                window.location.href = "http://a.app.qq.com/o/simple.jsp?pkgname=com.jrj.tougu";
            } else if (IS_IOS) {
                var iFrame = document.createElement('iframe');
                iFrame.style.display = "none";
                iFrame.src = 'aitougu://';

                document.body.appendChild(iFrame);

                setTimeout(function() {

                    if (!document.webkitHidden) {
                        window.location.href = 'https://itunes.apple.com/cn/app/ai-tou-gu/id935173185?mt=8';
                    }

                }, 25);

            } else if (IS_ANDROID) {

                window.location.href = 'aitougu://tougu';
                setTimeout(function() {
                    if (!document.webkitHidden) {
                        window.location.href = 'http://sjcms.jrj.com.cn/app_tg.php';
                    }

                }, 25);
            }

        };
       
    });
</script>    
</body>
</html>