<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>证券通</title>
    <meta name="keywords" content="证券通" />
    <meta name="description" content="证券通" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,initial-scale=1.0" />

    <link href="http://js.jrjimg.cn/zqt-red-1000/css/reset-min.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/dialog.effect.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/styles.min.css" rel="stylesheet" />
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/jquery-1.7.2.min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/jquery.watermark.min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/TabSwitch.2.0-min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/rAF-Polyfill.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/dialogs-effect.js"></script>


    <link href="http://js.jrjimg.cn/zqt/js/editor/dialog.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt/js/editor/editor.css" rel="stylesheet" />
    <script src="http://js.jrjimg.cn/zqt/js/editor/EditorConfig.js"></script>
    <script src="http://js.jrjimg.cn/zqt/js/editor/JRJEditor.js"></script>
    <script type="text/javascript">
        $(function () {


            //menu
            $('.site-menu-title').click(function () {
                if (!$(this).parent().hasClass('site-menu-expand')) {
                    $(this).parent().addClass('site-menu-expand');
                    $(this).parent().stop().animate({ height: $(this).parent().outerHeight() + $(this).next().outerHeight() + 'px' }, 200);
                } else {
                    $(this).parent().removeClass('site-menu-expand');
                    $(this).parent().stop().animate({ height: '47px' }, 200);
                }
            });
            $('.site-menu-title .stop').click(function (e) {
                e.stopPropagation();
            });
            $('.site-menu-cur').find('.site-menu-title').click();
            $('.site-menu').mouseenter(function () {
                $(this).addClass('site-menu-hover');
            }).mouseleave(function () {
                $(this).removeClass('site-menu-hover');
            });
            //menu

            //tab
            var tab = new JRJ.ui.TabSwitch({
                menuPre: "menu_",
                conPre: "con_",
                total: 2,
                onClass: "cur",
                eventType: 'click',
                onSwitch: {
                    fcn: function () {
                        switch (tab.currTab) {
                            case 1:
                                $('#btn-send-all').text('向签约用户群发');
                                $('#btn-send-all').attr({ 'data-type': 'user' });
                                break;
                            case 2:
                                $('#btn-send-all').text('向粉丝群发消息');
                                $('#btn-send-all').attr({ 'data-type': 'fans' });
                                break;
                            default:

                        }

                    }, args: []
                }
            });
            //tab

            $('.btnReply').click(function (e) {
                e.preventDefault();
                $(this).parents('.inquire-item:first').find('.inquire-item-editor-wrap').toggle();
            });

            //scroll
            $(window).scroll(function () {
                //$(window).scrollTop()这个方法是当前滚动条滚动的距离
                //$(window).height()获取当前窗体的高度
                //$(document).height()获取当前文档的高度
                var bot = 200; //bot是底部距离的高度
                if ((bot + $(window).scrollTop()) >= ($(document).height() - $(window).height())) {
                    //当底部基本距离+滚动的高度 >= 文档的高度-窗体的高度时；
                    //我们需要去异步加载数据了
                    //me.getData();
                    //$container.masonry('reload');
                    console.log('我们需要去异步加载数据了');
                    $('.loading').show();

                    setTimeout(function () {
                        $('.loading').hide();
                    }, 3000);
                }
            });

            $('.inquire-item').mouseenter(function () {
                $(this).addClass('inquire-item-hover');
                $(this).find('.link-del').show();
            }).mouseleave(function () {
                $(this).removeClass('inquire-item-hover');
                $(this).find('.link-del').hide();
            });

            //向签约用户群发
            $('#btn-send-all').click(function () {
                if ($(this).attr('data-type') == 'user') {
                    JRJ.Dialogs.iframeDialog({
                        content: [''].join(''),
                        loadingImg: '',
                        width: 712,
                        hasBtn: false,
                        hasOkBtn: false,
                        okBtnText: '',
                        title: '向签约用户群发',
                        titleRight: '',
                        bottomContent: '',
                        protocolHtml: '',
                        hasCancelBtn: false,
                        enableKeyCtrl: true,
                        ifrSrc: 'sendMessage.html',
                        ifrReHeight: false,
                        isFixed: true,//defaultCf.isFixed,
                        okCallback: function () {
                            defaultCf.okCallback();
                        },
                        cancelCallback: function () {

                            return true;
                        }
                    });
                } else {
                    JRJ.Dialogs.iframeDialog({
                        content: [''].join(''),
                        loadingImg: '',
                        width: 712,
                        hasBtn: false,
                        hasOkBtn: false,
                        okBtnText: '',
                        title: '向粉丝群发',
                        titleRight: '',
                        bottomContent: '',
                        protocolHtml: '',
                        hasCancelBtn: false,
                        enableKeyCtrl: true,
                        ifrSrc: 'sendMessage.html',
                        ifrReHeight: false,
                        isFixed: true,//defaultCf.isFixed,
                        okCallback: function () {
                            defaultCf.okCallback();
                        },
                        cancelCallback: function () {

                            return true;
                        }
                    });
                }
                
            });


            $('.link-del').click(function (e) {
                e.preventDefault();
                JRJ.Dialogs.standardDialog({
                    title: "删除粉丝",
                    width: 348,
                    content: '<div class="dialog-cnt dialog-confirm-2"><p class="f18">确定要删除该粉丝？</p><p class="mt10 f12 font-simsun ml20">XXX已经关注您<span class="red">180</span>天</p></div>',
                    okBtnText: "确认",
                    cancelBtnText: "取消",
                    hasCloseBtn: true,
                    hasOkBtn: true,
                    hasCancelBtn: true,
                    okCallback: function () { },
                    cancelCallback: function () {
                    },
                    isFixed: true
                });
            });

        });
    </script>
</head>
<body>
    <!--# include virtual="/site_top_header.html" -->
    <!--bread-crumb-->
    <div class="site-breadcrumb">
        <div class="wrapper">
            <a href="">金融界证券通</a>
            <span>&gt;</span>
            <a href="" class="cur">我的证券通</a>
        </div>
    </div>
    <!--bread-crumb-->

    <div class="site-main">
        <div class="wrapper">
            <div class="site-main-left">
                <div class="site-menu">
                    <div class="site-menu-title">
                        <span class="fr"><a href="#" class="stop">管理</a></span>
                        <span><span>全部账户</span><i class="btn-refresh ml10 stop"></i></span>
                        <em></em>
                    </div>
                    <div class="site-menu-cnt">
                        <p class="tc">
                            <a href="" class="btn btn-addaccount">增加其他交易账户</a>
                        </p>
                    </div>
                </div>
                <div class="site-menu">
                    <div class="site-menu-title">
                        <span><span>我的自选股</span></span>
                        <em></em>
                    </div>
                    <div class="site-menu-cnt">
                        <p class="tc">
                            somthing goes here...
                        </p>
                        <p class="tc">
                            somthing goes here...
                        </p>
                        <p class="tc">
                            somthing goes here...
                        </p>
                        <p class="tc">
                            somthing goes here...
                        </p>
                    </div>
                </div>
                <div class="site-menu">
                    <div class="site-menu-title">
                        <span><span>投顾服务</span></span>
                        <em></em>
                    </div>
                    <div class="site-menu-cnt">
                        <ul class="menu-list menu-list-services">
                            <li>
                                <a href="#" class="item-1">
                                    <span class="notify fr">999</span>
                                    <span>我的关注</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-2">
                                    <span class="notify fr">999</span>
                                    <span>我的关注</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-3">
                                    <span class="notify fr">999</span>
                                    <span>我的关注</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--site-main-right-->
            <div class="site-main-right">
                <h2 class="block-title">用户统计</h2>
                <div class="statistic-block statistic-block-2 mt10 clearfix">
                    <div class="statistic-block-item statistic-block-item-1">
                        <p>我的签约用户</p>
                        <p class="num">169</p>
                    </div>
                    <div class="statistic-block-item statistic-block-item-2">
                        <p>本周新增签约用户</p>
                        <p class="num">10</p>
                    </div>
                    <div class="statistic-block-item statistic-block-item-3">
                        <p>我的粉丝数</p>
                        <p class="num">100</p>
                    </div>
                </div>
                <div class="my-points my-member-wrap mt25">
                    <ul class="tab tab-364 clearfix">
                        <li id="menu_1" class="cur">我的签约用户</li>
                        <li id="menu_2" class="">我的粉丝</li>
                        <li class="btns">
                            <a href="#" class="btn btn-123-40" id="btn-send-all" data-type="user">向签约用户群发</a>
                        </li>
                    </ul>
                    <div id="con_1" class="tab-cnt clearfix">
                        <div class="sort-bar clearfix mt10">
                            <span class="op">
                                <a href="" class="btn-setting">设定我的签约条件</a>
                            </span>
                
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">签约时间:</td>
                                        <td class="value">2014-09-11</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                                <div class="coin-block">
                                    <div class="coin-block-title">累计贡献金币</div>
                                    <div class="coin-block-cnt">0</div>
                                </div>
                                <!--<p class="tc mt10">
                                    <a href="#" class="btn btn-113-30">和TA私聊</a>
                                </p>-->
                            </div>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">签约时间:</td>
                                        <td class="value">2014-09-11</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                                <div class="coin-block">
                                    <div class="coin-block-title">累计贡献金币</div>
                                    <div class="coin-block-cnt">0</div>
                                </div>
                                <!--<p class="tc mt10">
                                    <a href="#" class="btn btn-113-30">和TA私聊</a>
                                </p>-->
                            </div>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">签约时间:</td>
                                        <td class="value">2014-09-11</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                                <div class="coin-block">
                                    <div class="coin-block-title">累计贡献金币</div>
                                    <div class="coin-block-cnt">0</div>
                                </div>
                                <!--<p class="tc mt10">
                                    <a href="#" class="btn btn-113-30">和TA私聊</a>
                                </p>-->
                            </div>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">签约时间:</td>
                                        <td class="value">2014-09-11</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                                <div class="coin-block">
                                    <div class="coin-block-title">累计贡献金币</div>
                                    <div class="coin-block-cnt">0</div>
                                </div>
                                <!--<p class="tc mt10">
                                    <a href="#" class="btn btn-113-30">和TA私聊</a>
                                </p>-->
                            </div>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">签约时间:</td>
                                        <td class="value">2014-09-11</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                                <div class="coin-block">
                                    <div class="coin-block-title">累计贡献金币</div>
                                    <div class="coin-block-cnt">0</div>
                                </div>
                                <!--<p class="tc mt10">
                                    <a href="#" class="btn btn-113-30">和TA私聊</a>
                                </p>-->
                            </div>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">签约时间:</td>
                                        <td class="value">2014-09-11</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                                <div class="coin-block">
                                    <div class="coin-block-title">累计贡献金币</div>
                                    <div class="coin-block-cnt">0</div>
                                </div>
                                <!--<p class="tc mt10">
                                    <a href="#" class="btn btn-113-30">和TA私聊</a>
                                </p>-->
                            </div>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">签约时间:</td>
                                        <td class="value">2014-09-11</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                                <div class="coin-block">
                                    <div class="coin-block-title">累计贡献金币</div>
                                    <div class="coin-block-cnt">0</div>
                                </div>
                                <!--<p class="tc mt10">
                                    <a href="#" class="btn btn-113-30">和TA私聊</a>
                                </p>-->
                            </div>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">签约时间:</td>
                                        <td class="value">2014-09-11</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                                <div class="coin-block">
                                    <div class="coin-block-title">累计贡献金币</div>
                                    <div class="coin-block-cnt">0</div>
                                </div>
                                <!--<p class="tc mt10">
                                    <a href="#" class="btn btn-113-30">和TA私聊</a>
                                </p>-->
                            </div>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">签约时间:</td>
                                        <td class="value">2014-09-11</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                                <div class="coin-block">
                                    <div class="coin-block-title">累计贡献金币</div>
                                    <div class="coin-block-cnt">0</div>
                                </div>
                                <!--<p class="tc mt10">
                                    <a href="#" class="btn btn-113-30">和TA私聊</a>
                                </p>-->
                            </div>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">签约时间:</td>
                                        <td class="value">2014-09-11</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-3">
                                <div class="coin-block">
                                    <div class="coin-block-title">累计贡献金币</div>
                                    <div class="coin-block-cnt">0</div>
                                </div>
                                <!--<p class="tc mt10">
                                    <a href="#" class="btn btn-113-30">和TA私聊</a>
                                </p>-->
                            </div>
                        </div>

                        <div class="pager">
                            <a class="prev prev-disable">上一页</a>
                            <a class="cur">1</a>
                            <a>2</a>
                            <a>3</a>
                            <a class="dot">...</a>
                            <a>125</a>
                            <a class="next">下一页</a>
                        </div>
                    </div>
                    <div id="con_2" class="tab-cnt clearfix need-to-answer" style="display:none;">
                        <div class="sort-bar clearfix mt10">
                            <span class="op">
                                <a href="" class="btn-setting">设定我的签约条件</a>
                            </span>
                            
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">&nbsp;</td>
                                        <td class="value">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <a href="#" class="link link-del">删除粉丝</a>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">&nbsp;</td>
                                        <td class="value">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <a href="#" class="link link-del">删除粉丝</a>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">&nbsp;</td>
                                        <td class="value">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <a href="#" class="link link-del">删除粉丝</a>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">&nbsp;</td>
                                        <td class="value">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <a href="#" class="link link-del">删除粉丝</a>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">&nbsp;</td>
                                        <td class="value">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <a href="#" class="link link-del">删除粉丝</a>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">&nbsp;</td>
                                        <td class="value">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <a href="#" class="link link-del">删除粉丝</a>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">&nbsp;</td>
                                        <td class="value">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <a href="#" class="link link-del">删除粉丝</a>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">&nbsp;</td>
                                        <td class="value">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <a href="#" class="link link-del">删除粉丝</a>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">&nbsp;</td>
                                        <td class="value">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <a href="#" class="link link-del">删除粉丝</a>
                        </div>
                        <div class="inquire-item inquire-item-2 clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/http://i0.jrjimg.cn/zqt/sample-5.jpg" alt="" width="75" height="75" data-bd-imgshare-binded="1"><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span></span></p>
                                <table class="mt10">
                                    <tr>
                                        <td class="field">所属券商:</td>
                                        <td class="value">中信证券 中山证券</td>
                                        <td class="field">资  金  量:</td>
                                        <td class="value">暂不公开</td>
                                    </tr>
                                    <tr>
                                        <td class="field">关注时间:</td>
                                        <td class="value">2014-09-11</td>
                                        <td class="field">&nbsp;</td>
                                        <td class="value">&nbsp;</td>
                                    </tr>
                                </table>
                            </div>
                            <a href="#" class="link link-del">删除粉丝</a>
                        </div>
                        <div class="pager">
                            <a class="prev prev-disable">上一页</a>
                            <a class="cur">1</a>
                            <a>2</a>
                            <a>3</a>
                            <a class="dot">...</a>
                            <a>125</a>
                            <a class="next">下一页</a>
                        </div>
                    </div>
                    <div class="loading tc middle">
                        <img src="/http://i0.jrjimg.cn/zqt/loading.gif" alt="" width="50" height="50" />
                        <span>正在加载...</span>
                    </div>
                </div>


            </div>
            <!--site-main-right-->
        </div>
    </div>

    <!--\#include virtual="/common_footer.html" -->
</body>
</html>

