<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>证券通</title>
    <meta name="keywords" content="证券通" />
    <meta name="description" content="证券通" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,initial-scale=1.0" />

    <link href="http://js.jrjimg.cn/zqt-red-1000/css/reset-min.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/dialog.effect.css" rel="stylesheet" />
    <link href="http://js.jrjimg.cn/zqt-red-1000/css/styles.min.css" rel="stylesheet" />
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/jquery-1.7.2.min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/jquery.watermark.min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/TabSwitch.2.0-min.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/dialogs-effect.js"></script>
    <script src="http://js.jrjimg.cn/zqt-red-1000/js/mustache-min.js"></script>
    <script type="text/javascript">
        $(function () {

            
            //menu
            $('.site-menu-title').click(function () {
                if (!$(this).parent().hasClass('site-menu-expand')) {
                    $(this).parent().addClass('site-menu-expand');
                    $(this).parent().stop().animate({ height: $(this).parent().outerHeight() + $(this).next().outerHeight() + 'px' }, 200);
                } else {
                    $(this).parent().removeClass('site-menu-expand');
                    $(this).parent().stop().animate({ height: '47px' }, 200);
                }
            });
            $('.site-menu-title .stop').click(function (e) {
                e.stopPropagation();
            });
            $('.site-menu-cur').find('.site-menu-title').click();
            $('.site-menu').mouseenter(function () {
                $(this).addClass('site-menu-hover');
            }).mouseleave(function () {
                $(this).removeClass('site-menu-hover');
            });
            $('.menu-list li').mouseenter(function () {
                $(this).addClass('hover');
            }).mouseleave(function () {
                $(this).removeClass('hover');
            });
            //menu

            //tab
            var tab = new JRJ.ui.TabSwitch({
                menuPre: "menu_",
                conPre: "con_",
                total: 2,
                onClass: "cur",
                eventType:'click'
            });
            //tab


            //point-item
            $('.my-tg-item').mouseenter(function () {
                $(this).addClass('my-tg-item-hover');
                $(this).find('.col-3 .link-2').show();
            }).mouseleave(function () {
                $(this).removeClass('my-tg-item-hover');
                $(this).find('.col-3 .link-2').hide();
            });
            //point-item

            /**$('.my-tg-item .row-pic').mouseenter(function () {
                var _top = $(this).offset().top,
                    _left = $(this).offset().left + $(this).width() + 10;

              //  $('.popup-userinfo').css({ top: _top + 'px', left: _left + 'px' }).show();
                //$('.popup-userinfo').css({ top: _top + 'px', left: _left + 'px' }).appendTo('body').show();
                
               // alert("111111");
               //异步获取用户信息
               
				  $.ajax({
				   url:'/account/userFloatLayer.jspa',
				   type:"POST",
				   cache : false,
				   dataType : "json",
				   /**
				   data : {txtMobile:txtMobile,
				           txtQQ:txtQQ,
				           headImage:headImageUrl},
				           **/
				   data : {txtMobile:""},        
				   success:function(data) {
				        //alert("请求成功");
				        //alert(data);
				        //alert(data['answerNumber']);
				        //var QQ = data['qq'];
				        //alert(QQ);
				        //$("#newMobile").text(data['mobile']);
				        //$("#newQQ").text(data['qq']);
				        //alert("data['headImage']="+data['headImage']);
				        //$("#viewHeadImg").attr("src",data['headImage']);
				        $(Mustache.render(floatLayerTemplate, data));
				       $(Mustache.render(floatLayerTemplate, data)).css({ top: _top + 'px', left: _left + 'px' }).appendTo('body').show();
				   },
				   error : function() {    
		             alert("异常！");    
		           }   
				  });
               
               
               
               
               
                //$(Mustache.render(floatLayerTemplate, ${adviserInfoAction}));
                
                
                
            });**/
            /**
            $('.popup-userinfo').mouseleave(function () {
                //$('.popup-userinfo').hide();
               $('.popup-userinfo').remove();
              // $(Mustache.render(floatLayerTemplate, data)).remove();
            });
            ***/
            
            $('.row-pic').live("mouseover",function() {
				 var _top = $(this).offset().top,
                    _left = $(this).offset().left + $(this).width() + 10;
				$.ajax({
				   url:'/account/userFloatLayer.jspa',
				   type:"POST",
				   cache : false,
				   dataType : "json",
				   /**
				   data : {txtMobile:txtMobile,
				           txtQQ:txtQQ,
				           headImage:headImageUrl},
				           **/
				   data : {txtMobile:""},        
				   success:function(data) {
				        //alert("请求成功");
				        //alert(data);
				        //alert(data['answerNumber']);
				        //var QQ = data['qq'];
				        //alert(QQ);
				        //$("#newMobile").text(data['mobile']);
				        //$("#newQQ").text(data['qq']);
				        //alert("data['headImage']="+data['headImage']);
				        //$("#viewHeadImg").attr("src",data['headImage']);
				        $(Mustache.render(floatLayerTemplate, data));
				       $(Mustache.render(floatLayerTemplate, data)).css({ top: _top + 'px', left: _left + 'px' }).appendTo('body').show();
				   },
				   error : function() {    
		             alert("异常！");    
		           }   
				  });
			}).live("mouseout", function() {
				$('.popup-userinfo').hide();
			});
			$('.popup-userinfo').live("mouseover", function() {
				$(this).show();
			}).live("mouseout", function() {
				$(this).hide();
			});
            
            /** $('.popup-userinfo').live("mouseleave",function () {
             	alert(12); 
                //$('.popup-userinfo').hide();
               $('.popup-userinfo').remove();
              // $(Mustache.render(floatLayerTemplate, data)).remove();
            });
            $(document).click(function () {
                $('.popup-userinfo').hide();
            });**/


            //dialogs
            //取消签约
            $('#cancel').click(function (e) {
                e.preventDefault();
                JRJ.Dialogs.standardDialog({
                    title: "取消签约",
                    width: 300,
                    content: '<div class="dialog-cnt dialog-confirm">您确定取消和此投顾的签约？</div>',
                    okBtnText: "确认",
                    cancelBtnText: "取消",
                    hasCloseBtn: true,
                    hasOkBtn: true,
                    hasCancelBtn: true,
                    okCallback: function () { },
                    cancelCallback: function () {
                    },
                    isFixed: true
                });
            });
            //取消签约失败
            //JRJ.Dialogs.standardDialog({
            //    title: "取消签约",
            //    width: 388,
            //    content: '<div class="dialog-cnt dialog-cnt-center"><p class="title middle"><i class="icon icon-dlg-error mr10"></i><span>签约失败</span></p><p class="mt10">您已经签约了其他投资顾问，清先解除签约关系</p></div>',
            //    okBtnText: "去解除签约",
            //    cancelBtnText: "取消",
            //    hasCloseBtn: true,
            //    hasOkBtn: true,
            //    hasCancelBtn: false,
            //    okCallback: function () { },
            //    cancelCallback: function () {
            //    },
            //    isFixed: true
            //});
            //JRJ.Dialogs.standardDialog({
            //    title: "取消签约",
            //    width: 388,
            //    content: '<div class="dialog-cnt dialog-cnt-center"><p class="title middle"><i class="icon icon-dlg-error mr10"></i><span>取消签约失败</span></p><p class="mt10">您和此投资顾问签约时间还未满7天，请耐心等待。</p></div>',
            //    okBtnText: "去关注其他投资顾问",
            //    cancelBtnText: "取消",
            //    hasCloseBtn: true,
            //    hasOkBtn: true,
            //    hasCancelBtn: false,
            //    okCallback: function () { },
            //    cancelCallback: function () {
            //    },
            //    isFixed: true
            //});
            //签约成功
            //JRJ.Dialogs.standardDialog({
            //    title: "取消签约",
            //    width: 388,
            //    content: '<div class="dialog-cnt dialog-cnt-center"><p class="title middle"><i class="icon icon-dlg-right mr10"></i><span>取消签约成功</span></p><p class="mt10 tl">您已经取消和此投资顾问的签约，请和其他投资顾问签约吧！</p></div>',
            //    okBtnText: "去签约",
            //    cancelBtnText: "取消",
            //    hasCloseBtn: true,
            //    hasOkBtn: true,
            //    hasCancelBtn: false,
            //    okCallback: function () { },
            //    cancelCallback: function () {
            //    },
            //    isFixed: true
            //});

            //取消关注
            $('.popup-userinfo .row-1 a.link').click(function (e) {
                e.preventDefault();
                JRJ.Dialogs.standardDialog({
                    title: "取消关注",
                    width: 300,
                    content: '<div class="dialog-cnt dialog-confirm">您确定取消关注此投资顾问？</div>',
                    okBtnText: "确认",
                    cancelBtnText: "取消",
                    hasCloseBtn: true,
                    hasOkBtn: true,
                    hasCancelBtn: true,
                    okCallback: function () { },
                    cancelCallback: function () {
                    },
                    isFixed: true
                });
            });

            //和TA签约
            //$('#sign').click(function (e) {
            //    e.preventDefault();
            //    JRJ.Dialogs.standardDialog({
            //        title: "签约",
            //        width: 512,
            //        content: [
            //            '<div class="dialog-cnt dialog-sign clearfix">',
            //                '<div class="dialog-sign-left">',
            //                    '<a href="#" class="row-pic"><img src="/images/sample-5.jpg" alt="" width="75" height="75"><span class="online">在线</span></a>',
            //                    '<p class="row-level tc"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>',
            //                    '<p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>',
            //                '</div>',
            //                '<div class="dialog-sign-right">',
            //                    '<p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span><span class="ml20">惠州雄风投资管理</span></span></p>',
            //                    '<p class="mt30">TA的优势</p>',
            //                    '<p class="mt10"><i class="goodat goodat-1"></i><i class="goodat goodat-2"></i><i class="goodat goodat-3"></i><i class="goodat goodat-4"></i></p>',
            //                    '<p class="mt10 middle"><input id="Checkbox1" type="checkbox" class="mr10" />我已经同意	<a class="link">《证券通投资顾问服务协议》</a></p>',
            //                    '<p class="mt10"><a class="btn btn-123-40">继续签约</a></p>',
            //                    '<p class="mt10"><span class="note">*您选择与次投资顾问签约，签约成功7日后才能解约。</span></p>',
            //                '</div>',
            //            '</div>',
            //        ].join(''),
            //        okBtnText: "确认",
            //        cancelBtnText: "取消",
            //        hasBtn: false,
            //        hasCloseBtn: true,
            //        hasOkBtn: false,
            //        hasCancelBtn: false,
            //        okCallback: function () { },
            //        cancelCallback: function () {
            //        },
            //        isFixed: true
            //    });
            //});

            //签约失败
            //JRJ.Dialogs.standardDialog({
            //    title: "签约",
            //    width: 512,
            //    content: [
            //        '<div class="dialog-cnt dialog-sign clearfix">',
            //            '<div class="title middle tc mt10 mb10"><i class="icon icon-dlg-error-46-45 mr10"></i><span>签约失败</span></div>',
            //            '<div class="p-wrap">',
            //                '<p class="mt30">您不符合此投资顾问签约条件，TA的条件是：</p>',
            //                '<p class="mt30"><img src="/images/dlg-right.png" alt="" class="mr5" />在证券通新开户或绑定；<a class="link">去开户</a></p>',
            //                '<p class="mt10"><img src="/images/dlg-right.png" alt="" class="mr5" />需是中金证券的客户；<a class="link">去开户</a></p>',
            //                '<p class="mt10"><img src="/images/dlg-error.png" alt="" class="mr5" />资金量达到1,000万元人民币；<a class="link">进入账户</a></p>',
            //            '</div>',
            //        '</div>',
            //    ].join(''),
            //    okBtnText: "选择其他投顾",
            //    cancelBtnText: "取消",
            //    hasCloseBtn: true,
            //    hasOkBtn: true,
            //    hasCancelBtn: false,
            //    okCallback: function () { },
            //    cancelCallback: function () {
            //    },
            //    isFixed: true
            //});

            //签约成功
            JRJ.Dialogs.standardDialog({
                title: "签约",
                width: 512,
                content: [
                    '<div class="dialog-cnt dialog-sign clearfix">',
                        '<div class="title middle tc mt10 mb10"><i class="icon icon-dlg-right-46-45 mr10"></i><span>签约成功</span></div>',
                        '<div class="p-wrap">',
                            '<p class="mt30">您不符合此投资顾问签约条件，TA的条件是：</p>',
                            '<p class="mt30"><img src="/images/dlg-right.png" alt="" class="mr5" />在证券通新开户或绑定；<a class="link">去开户</a></p>',
                            '<p class="mt10"><img src="/images/dlg-right.png" alt="" class="mr5" />需是中金证券的客户；<a class="link">去开户</a></p>',
                            '<p class="mt10"><img src="/images/dlg-right.png" alt="" class="mr5" />资金量达到1,000万元人民币；<a class="link">进入账户</a></p>',
                        '</div>',
                    '</div>',
                ].join(''),
                okBtnText: "返回TA的个人主页",
                cancelBtnText: "取消",
                hasCloseBtn: true,
                hasOkBtn: true,
                hasCancelBtn: false,
                okCallback: function () { },
                cancelCallback: function () {
                },
                isFixed: true
            });

            //dialogs
        });
        
        
        var floatLayerTemplate =[
        '<div class="popup-userinfo">',
        '<i class="arrow"></i>',
        '<a href="#" class="btn btn-123-32 middle"><i></i><span class="ml5">向TA提问</span></a>',
        '<div class="row-1">',
            '<div class="col-1">',
                '<div><a href="#" class="row-pic"><img src="{{headImage}}" alt="" width="75" height="75" /></a></div>',
                '<!--<div><a href="#" class="btn-follow">+关注</a></div>-->',
                '<div><a href="#" class="btn-followed">已关注</a></div>',
                '<div><a href="#" class="link">取消关注</a></div>',
            '</div>',
            '<div class="col-2">',
                '<p class="name"><span>{{userName}}</span><i class="icon icon-v ml10"></i><i class="icon-level icon-level-1 ml10"></i></p>',
                '<p class="title mt5"><span>投资顾问</span><span class="ml20">{{company}}</span></p>',
                '<p class="sum mt5"><span>粉丝 <span class="value">{{fansNum}}</span></span><span class="split">|</span><span>观点 <span class="value">{{approvalNum}}</span></span><span class="split">|</span><span>赞同 <span class="value">{{approvalNum}}+</span></span></p>',
                '<p class="skill"><span>擅长领域：</span>{{investDirection}}</p>',
            '</div>',
        '</div>',
        '<div class="row-2 clearfix">',
            '<div class="block-item block-item-1">',
                '<p>回答问题数</p>',
                '<p class="num"><b>{{answerNumber}}</b></p>',
            '</div>',
            '<div class="block-item block-item-2">',
                '<p>用户满意度</p>',
                '<p class="num"><b>{{useSatisfaction}}</b><span>%</span></p>',
            '</div>',
            '<div class="block-item block-item-3">',
                '<p>平均响应时间</p>',
                '<p class="num"><b>{{averageResponseTime}}</b><span>小时</span></p>',
            '</div>',
        '</div>',
    '</div>'
    ].join('');
    
    </script>
</head>
<body>
    <!--# include virtual="/site_top_header.html" -->
    <!--bread-crumb-->
    <div class="site-breadcrumb">
        <div class="wrapper">
            <a href="">金融界证券通</a>
            <span>&gt;</span>
            <a href="" class="cur">我的证券通</a>
        </div>
    </div>
    <!--bread-crumb-->

    <div class="site-main">
        <div class="wrapper">
            <div class="site-main-left">
                <div class="site-menu">
                    <div class="site-menu-title">
                        <span class="fr"><a href="#" class="stop">管理</a></span>
                        <span><span>全部账户</span><i class="btn-refresh ml10 stop"></i></span>
                        <em></em>
                    </div>
                    <div class="site-menu-cnt">
                        <p class="tc">
                            <a href="" class="btn btn-addaccount">增加其他交易账户</a>
                        </p>
                    </div>
                </div>
                <div class="site-menu">
                    <div class="site-menu-title">
                        <span><span>我的自选股</span></span>
                        <em></em>
                    </div>
                    <div class="site-menu-cnt">
                        <p class="tc">
                            somthing goes here...
                        </p>
                        <p class="tc">
                            somthing goes here...
                        </p>
                        <p class="tc">
                            somthing goes here...
                        </p>
                        <p class="tc">
                            somthing goes here...
                        </p>
                    </div>
                </div>
                <div class="site-menu">
                    <div class="site-menu-title">
                        <span><span>投顾服务</span></span>
                        <em></em>
                    </div>
                    <div class="site-menu-cnt">
                        <ul class="menu-list menu-list-services">
                            <li>
                                <a href="#" class="item-1">
                                    <span class="notify fr">999</span>
                                    <span>我的关注</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-2">
                                    <span class="notify fr">999</span>
                                    <span>我的关注</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-3">
                                    <span class="notify fr">999</span>
                                    <span>我的关注</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="site-menu">
                    <div class="site-menu-title">
                        <span><span>投顾后台</span></span>
                        <em></em>
                    </div>
                    <div class="site-menu-cnt">
                        <ul class="menu-list menu-list-back">
                            <li>
                                <a href="#" class="item-1">
                                    <span class="notify fr">999</span>
                                    <span>我的个人主页</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-2">
                                    <span class="notify fr">999</span>
                                    <span>重大财经资讯</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-3">
                                    <span class="notify fr">999</span>
                                    <span>我的观点</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-4">
                                    <span class="notify fr">999</span>
                                    <span>我的问答</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-5">
                                    <span class="notify fr">999</span>
                                    <span>我的直播</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-6">
                                    <span class="notify fr">999</span>
                                    <span>我的组合</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-7">
                                    <span class="notify fr">999</span>
                                    <span>我的积分</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-8">
                                    <span class="notify fr">999</span>
                                    <span>用户管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item-9">
                                    <span class="notify fr">999</span>
                                    <span>个人设置</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--site-main-right-->
            <div class="site-main-right">
                <div class="my-tg">
                    <ul class="tab clearfix">
                        <li id="menu_1" class="cur">全部投顾</li>
                        <li id="menu_2" class="">投资顾问</li>
                        <li id="menu_3" class="">财经名人</li>
                    </ul>
                    <div id="con_1" class="tab-cnt clearfix">
                        <div class="my-tg-item clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/images/sample-5.jpg" alt="" width="75" height="75" /><span class="online">在线</span></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                                <p class="row-btn">
                                    <a href="#" class="">签约投顾</a>
                                </p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span><span class="ml20">惠州雄风投资管理</span></span></p>
                                <p class="row-2 middle mt20">
                                    <span>擅长投资方向:</span><a href="#" class="icon icon-hkstock ml20">港股</a><a href="#" class="icon icon-astock ml20">A股</a>
                                </p>
                                <div class="row-desc">
                                    <span class="fl">简介:</span>
                                    <p>她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <p class="tc mt30"><a href="#" class="btn btn-113-30">向TA提问</a></p>
                                <p class="tc mt10"><a href="#" class="btn btn-113-30">和TA私聊</a></p>
                                <p class="tc mt10"><a href="#" class="link-2">和此投资顾问解约</a></p>
                            </div>
                        </div>
                        <div class="my-tg-item clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/images/sample-5.jpg" alt="" width="75" height="75" /></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                                <p class="row-btn">
                                    <a href="#" class="">签约投顾</a>
                                </p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span><span class="ml20">惠州雄风投资管理</span></span></p>
                                <p class="row-2 middle mt20">
                                    <span>擅长投资方向:</span><a href="#" class="icon icon-hkstock ml20">港股</a><a href="#" class="icon icon-astock ml20">A股</a>
                                </p>
                                <div class="row-desc">
                                    <span class="fl">简介:</span>
                                    <p>她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <p class="tc mt30"><a href="#" class="btn btn-113-30">向TA提问</a></p>
                                <p class="tc mt10"><a href="#" class="btn btn-113-30">和TA私聊</a></p>
                                <p class="tc mt10"><a href="#" class="link-2">和此投资顾问解约</a></p>
                            </div>
                        </div>
                        <div class="my-tg-item clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/images/sample-5.jpg" alt="" width="75" height="75" /></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                                <p class="row-btn">
                                    <a href="#" class="">签约投顾</a>
                                </p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span><span class="ml20">惠州雄风投资管理</span></span></p>
                                <p class="row-2 middle mt20">
                                    <span>擅长投资方向:</span><a href="#" class="icon icon-hkstock ml20">港股</a><a href="#" class="icon icon-astock ml20">A股</a>
                                </p>
                                <div class="row-desc">
                                    <span class="fl">简介:</span>
                                    <p>她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <p class="tc mt30"><a href="#" class="btn btn-113-30">向TA提问</a></p>
                                <p class="tc mt10"><a href="#" class="link" id="sign">和TA签约</a></p>
                                <p class="tc mt10"><a href="#" class="link-2">和此投资顾问解约</a></p>
                            </div>
                        </div>
                        <div class="my-tg-item clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/images/sample-5.jpg" alt="" width="75" height="75" /></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                                <p class="row-btn">
                                    <a href="#" class="">签约投顾</a>
                                </p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span><span class="ml20">惠州雄风投资管理</span></span></p>
                                <p class="row-2 middle mt20">
                                    <span>擅长投资方向:</span><a href="#" class="icon icon-hkstock ml20">港股</a><a href="#" class="icon icon-astock ml20">A股</a>
                                </p>
                                <div class="row-desc">
                                    <span class="fl">简介:</span>
                                    <p>她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <p class="tc mt30"><a href="#" class="btn btn-113-30">向TA提问</a></p>
                                <p class="tc mt10"><a href="#" class="btn btn-113-30">和TA私聊</a></p>
                                <p class="tc mt10"><a href="#" class="link-2" id="cancel">取消关注此投资顾问</a></p>
                            </div>
                        </div>
                        <div class="my-tg-item clearfix">
                            <div class="col-1">
                                <a href="#" class="row-pic"><img src="/images/sample-5.jpg" alt="" width="75" height="75" /></a>
                                <p class="row-level tc mt10"><i class="icon-level icon-level-1"></i><span class="ml5">LV 49</span></p>
                                <p class="row-level-2"><span class="level-bar"><em style="width: 50%;"></em></span></p>
                                <p class="row-btn">
                                    <a href="#" class="">签约投顾</a>
                                </p>
                            </div>
                            <div class="col-2">
                                <p class="row-title"><span class="name">祝枝山</span><i class="icon icon-v"></i><span class="title ml20"><span>财经名人</span><span class="ml20">惠州雄风投资管理</span></span></p>
                                <p class="row-2 middle mt20">
                                    <span>擅长投资方向:</span><a href="#" class="icon icon-hkstock ml20">港股</a><a href="#" class="icon icon-astock ml20">A股</a>
                                </p>
                                <div class="row-desc">
                                    <span class="fl">简介:</span>
                                    <p>她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的她是最棒的</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <p class="tc mt30"><a href="#" class="btn btn-113-30">向TA提问</a></p>
                                <p class="tc mt10"><a href="#" class="btn btn-113-30">和TA私聊</a></p>
                                <p class="tc mt10"><a href="#" class="link-2">和此投资顾问解约</a></p>
                            </div>
                        </div>
                        <div class="pager">
                            <a class="prev prev-disable">上一页</a>
                            <a class="cur">1</a>
                            <a>2</a>
                            <a>3</a>
                            <a class="dot">...</a>
                            <a>125</a>
                            <a class="next">下一页</a>
                        </div>
                    </div>

                </div>
            </div>
            <!--site-main-right-->
        </div>
    </div>

    

    <!--\#include virtual="/common_footer.html" -->
</body>
</html>
